[2017-10-17 20:42] claudiosanches opened #37 "Sort and filter orders and other resource types by date modified"
Ref https://github.com/woocommerce/woocommerce/issues/17262

[2018-11-06 14:15] kb6673 opened #47 "Products - date_created_gmt is potentially not observed"
We've been waiting for woocommerce/wc-api-dev#104 to be ready for a while so we can do a particular task for a customer.

We're not entirely sure if  `date_created_gmt` is observed correctly.

We have a simple create product call like this

![image](https://user-images.githubusercontent.com/1001484/48069573-b53cb500-e1cd-11e8-8260-ee71575d8918.png)

Right now, when we are in GMT (both sites are se

[2019-06-10 10:52] mikejolley opened #1 "Move non-public API endpoints and Tests to wc-admin"
- The onboarding API is not part of the public REST API and should reside within the wc-admin extension.
- reports-interval.php unit tests are not API tests
- functions.php tests

This PR: https://github.com/woocommerce/woocommerce-admin/pull/2371 needs updating to reflect this.

[2019-06-12 20:04] mikejolley commented on #1
See https://github.com/woocommerce/woocommerce-admin/pull/2408

[2019-06-19 15:03] #1 closed

[2019-06-24 14:10] mateuszgwozdz opened #15 "API: /products parameter "on_sale" doesn't retrieve variations on sale"
**Describe the bug**
"on sale" paramter from [https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products](products list endpoint), doesn't show variable products that are on sale

**To Reproduce**
Steps to reproduce the behavior:
1. Create a variable product, add an attribute and a variation.
2. Set variation price and sale price to lower than regular price.
3. Using PHP library, q

[2019-07-18 07:09] kloon opened #5 "Add flag for new customer to response to customer info endpoint"
On woo-mobile, we have a need to show a visual indicator when a customer is a new customer. It'd be really helpful if we could have either:

a. A boolean flag called new_customer included in the response, or
b. a orders_count element added to the response (if the user has multiple orders, then not new)

Please let me know if I can provide any additional information.

Originally logged at https://g

[2019-07-19 06:52] danielbarenkamp opened #11 "API - Term Exists Check"
**Is your feature request related to a problem? Please describe.**
It is very frustrating, that product categories get created even when they exists. This is due to the wp_insert_term function does not check children categories. For example in the live environment there are theses categories:
Media
- CDs
- Vinyl

When we do an API import via create product the categories "CDs" will be created as a

[2019-07-19 07:01] danielbarenkamp opened #12 "API - Attribute exists check and return ID"
**Is your feature request related to a problem? Please describe.**
The API is not returning the Attribute ID if it existing already. So when you are importing a product via the API and add attributes, you need to know the exact attribute ID.

**Describe the solution you'd like**
The API should check and return if an attribute is existing or has been created while importing products before.

What w

[2019-07-29 11:15] erikdemarco opened #13 "ERROR on abstract-wc-rest-crud-controller.php:358"
[code]

the $object on line 357 should be validated first. If not sometimes it will show error when $object is not the value we expected.

Error: Call to a member function get_id() on boolean (line 358)

[2019-07-31 08:22] vaniok010 opened #8 "Problem with detach category from product"
How can I detach a category from a product?

Why such a request does not work?

PUT /wp-json/wc/v3/products/39037

{
   “categories”:[
      {
         “id”:1239
      },
      {
         “id”:1232
      }
   ]
}

Why do I continue to get the old categories?

“categories”:[
   {
      “id”:1096,
      “name”:“Кроссовки”,
      “slug”:“sneaker”
   },
   {
      “id”:1239,
      “name”:“Носки”,

[2019-07-31 08:24] vaniok010 commented on #8
![image](https://user-images.githubusercontent.com/6134702/62195938-ba5a1980-b385-11e9-9a00-d1aa1c91bb21.png)

[2019-07-31 18:32] claudiosanches opened #9 "Display all variation attributes in orders endpoint"
Currently not possible to get all attributes without an addition request.

[2019-08-01 21:54] claudiosanches opened #16 "PHP warnings when accessing "wp shell""
This is the output when I access `wp shell`:

[code]

Maybe we are loading the REST API too late?

[2019-08-02 05:51] martosource opened #17 "Filter on created_date and modified_date"
Will support to filter by created_date and modified_date for all api endpoints be added in v4?

This will help with system integration performance.

[2019-08-03 01:47] iNadav opened #33 "Can't add Product Variation Attribute Option when Attribute name is in Hebrew"
**Describe the bug**
I am trying to create a Variation for a variable type product using WooCommerce Rest API (https://woocommerce.github.io/woocommerce-rest-api-docs/?shell#create-a-product-variation). Sadly, whenever the Attribute's name is in Hebrew, I can not do so. When I send over a "create variation" request, with the attributes id included and an option in hebrew/english, the attribute ter

[2019-08-03 08:28] erikdemarco opened #19 "Product Attribute API duplication"
When creating global attribute via API, The API doesnt check wheter current name is already exist, currently it just create another duplicate name if the name already exist.

[2019-08-05 08:40] erikdemarco opened #18 "List all attribute terms (API)"
when using this api
/wp-json/wc/v3/products/attributes/1/terms

It show correct data,
but when I change to '1' to any other :
/wp-json/wc/v3/products/attributes/2/terms

it still show 'attributeid:1' data, not 'attributeid:2' data that i want. I try using nonexistent attribute_id, still it shows 'attributeid:1' data. why is that?

edit:
I found the problem, If I remove this part from line 794 (wc-

[2019-08-08 17:49] erikdemarco opened #20 "[feature request] way to access woocommerce rest api internally..."
Please add a way to access all rest api method without requiring http request like using 'rest api php wrapper'.

Because woocommerce built-in function is not as comprehensive and as complete as rest api. Sometimes we need to make new function just to do what rest api can already do.

Using 'WP_REST_Request' sometimes causes error like issue#18

[2019-08-12 15:34] NielsdeBlaauw opened #21 "[API] PUT /orders with incorrect coupon format removes coupons"
**Describe the bug**
When using the API to update (`PUT`) an order, sending back the 'coupon_lines' we got from the API during the`GET` call removes all set coupons on the order.

The (API documentation)[https://woocommerce.github.io/woocommerce-rest-api-docs/#update-an-order] doesn't specify this behaviour, or the correct way to deliver the `coupon_line` property.

**To Reproduce**
Steps to repro

[2019-08-12 19:24] NicoJuicy opened #22 "[API] Get Customer has totally different attributes then before"
Endpoint : https://shop/wp-json/wc/v4/customers?search=first_name

I receive the following model:

    [
    {
      "id":x,
      "user_id":1,
      "username":"NicoJuicy",
      "name":"Nico Sap",
      "email":"email",
      "country":"BE",
      "city":"some-villa",
      "state":"",
      "postcode":"number-zipcode",
      "date_registered":"2016-05-31T00:45:02",
      "date_last_active":"-00

[2019-08-13 14:26] rrennick commented on #22
@NicoJuicy Thanks for reporting this. Based on some testing this looks like it's an issue with the WooCommerce Admin plugin. I created https://github.com/woocommerce/woocommerce-admin/issues/2781.

Do you have the `woocommerce-rest-api` plugin installed and active?

[2019-08-14 15:09] maxim-skuvault opened #38 "Get variations by sku"
It would be very useful to have an endpoint to get variations by sku, without having so supply the productId.

We use the sku to look up variations in WooCommerce and then update the stock quantity. Currently, to get a variation from the api, the only option is to pass the parent productId, which we don't have nor do we want to keep track of outside wooCommerce. This severely limits the usefulness

[2019-08-19 23:10] imaric96 opened #23 "Product stock threshold"
Hello,
I have a question about "stock threshold" option for every product separately. Is it possible to manage that field through WooCommerce API?
Thank you. :)

[2019-08-19 23:10] claudiosanches commented on #23
This field is new, so not part of the REST API yet, will be included into REST API v4.

[2019-08-20 15:04] CodingLukas opened #24 "WooCommerce API is super slow"
Hello, 1 product to upload takes 2000ms. Is it possible somehow to speed it up?

Wordpress installed on localhost and PHP code run from same localhost. So, there shouldn't be issue with server.

Code example: https://pastebin.com/qRzAKram

[2019-08-23 22:56] AmandaRiu opened #25 "Add endpoint to request total product count for the parameters provided"
On woo-mobile, we have a need to show the total count of products so we don't have to download all products just to give the user a total count. This endpoint should support all the same properties as the products list endpoint so we can query for a count of products by various filters such as type, status, category, on_sale...etc.

[2019-08-26 18:53] AmandaRiu opened #26 "Add reviewer_id and gravatar_URL to product review response"
Over in woo-mobile, we have a need for the following fields to be added to the product review response. These fields are available when the post comment is fetched (which is what we have to do as a workaround currently). Here are the fields we are using in the comment response:
- `author.ID`
- `author.avatar_URL`

[2019-08-26 19:00] #26 closed, assigned to nobody

[2019-08-29 20:12] villesiltala opened #28 "API documentation for refund creation is incorrect"
The [API  documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/#refunds) for orders describes the data format for API requests for orders. Creating a refund via the REST API does not seem to follow this format. Looking at the core code in `wc_create_refund()` function reveals that the handling for line items does not match the data format described in the documentation.

**To Rep

[2019-09-16 20:24] Weeb opened #31 "Coupon usage_count triggered twice via /orders/ API"
**Describe the bug**
When creating a new order via the API with a coupon code like this:

"coupon_lines": [
    {
        "code": "something"
    }
],

The usage_count is triggered twice IF you also include:

"set_paid": true

**To Reproduce**
Steps to reproduce the behavior:
1. Create new coupon, notice usage_count = 0
2. Create new order via /orders/ API. Include coupon_lines to apply the new co

[2019-09-18 15:08] rafal-sokolowski opened #35 "Duplicate products with identical SKUs created via API"
**Description of the problem**
The syncing system sends requests to `/wp-json/wc/v3/products/batch` endpoint. It usually creates concurrent connections to the WooCommerce API. Sometimes, it happens that if two or more requests contain information about the same product and they run at the same time we end up with multiple products created having identical SKUs.

**Steps to reproduce**
[code]

**Ex

[2019-09-24 14:29] nerrad opened #32 "Idea: Add debug mode that returns query generated for request in headers"
**Is your feature request related to a problem? Please describe.**

Parsing the code to figure out what query is generated for a request is possible but not always easy.  For debugging purposes, it would be useful if REST responses could (via option/constant etc) could return the generated query in a header on request.

**Describe the solution you'd like**

One possible mechanism for implementing

[2019-09-24 23:44] nerrad commented on #32
I wrote this which is a little example plugin:

[code]

It outputs the last wp query executed on valid responses to any REST endpoint request on the `X-WC-last-query` header.  The downside however is that with the Woo data model, a given entity may be composed from multiple queries.  So with only the last query output it might not be that useful.  Ideally, a solution would concatenate all the quer

[2019-09-25 01:09] nerrad commented on #32
New plugin:

[code]

Since we can get pretty much what we want via the plugin approach, I'm going to close this.  I may add this in it's own repo as I think it has utility for gaining insight into the queries run on a given endpoint request.

[2019-09-25 01:10] #32 closed

[2019-09-30 13:53] abishekrsrikaanth opened #34 "Return URL gets striped of all query parameters except the 1st one"
Since this issue is pertaining to the `return_url` through the REST API, I am also creating this issue here as it affects both repositories.

Issue: https://github.com/woocommerce/woocommerce/issues/24685

[2019-10-02 18:31] claudiosanches commented on #34
See my comment in https://github.com/woocommerce/woocommerce/issues/24685#issuecomment-537622214

[2019-10-02 18:31] #34 closed

[2019-10-02 18:39] edoaxyz opened #36 "[API] refunded_payment in Refunds isn't showed in POST"
**Describe the bug**
As the title say, the attribute `refunded_payment` in Refunds objects isn't showed in any POST response, while the [documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/?shell#order-refund-properties) shows that it should be in any response, even if it's a read-only attribute. **Note** that I tried this only with `api_refund` attribute set to `false` in POST

[2019-10-04 15:11] claudiosanches commented on #37
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #30

[2019-10-04 15:11] #37 closed

[2019-10-04 15:12] mikejolley opened #39 "Implement order search helpers into orders API"
Search helpers have been added in 3.1: https://github.com/woocommerce/woocommerce/issues/13646

This means we could use the same system in the API for advanced order retrieval and search.

https://github.com/woocommerce/woocommerce/issues/15444

[2019-10-04 15:12] mikejolley opened #40 "Trigger email sending via API"
From https://github.com/woocommerce/woocommerce/issues/13231

Will require https://github.com/woocommerce/woocommerce/issues/13738

[2019-10-04 15:12] mikejolley opened #41 "Write access for customer downloads"
`/wp-json/wc/v2/customers/<id>/downloads`

Requested here https://github.com/woocommerce/woocommerce/issues/16691

[2019-10-04 15:13] justinshreve opened #42 "Add ability to update product review status"
The update endpoints for product reviews in v2 and v1 never supported status updating. v3 currently doesn't either (though the response returns a readonly value).

We can't just pass the status into `wp_update_comment` via `prepare_item_for_database` like we can for other fields, because `wp_update_comment` fails for some reason if you try to pass a status that is already being used.

It looks lik

[2019-10-04 15:13] WPprodigy opened #43 "WC Settings API"
# Settings API

Currently, WC settings are declared for each individual settings page first, then some are added to the API using filters.

This is a proposal to reverse that, and declare all the settings first for the REST API.

### Goal:

Create a full settings API for WooCommerce that contains all of the core settings.

Along with the benefits listed below, this also helps prevent the current p

[2019-10-04 15:13] claudiosanches opened #44 "Include product image inside order line items"
Doing so should decrease the number of requests to fetch all details of an order.

[2019-10-04 15:13] mindgraffiti opened #45 "GET all orders returns orders for deactivated extensions"
https://github.com/woocommerce/woocommerce-ios/issues/242

Example site: https://nuoshoppe.mystagingwebsite.com/
Deactivated extension: Deposits

## Steps to Reproduce
1. Set up a site with the Deposits extension activated.
2. Create an order that uses Deposits.
3. Make an API request for a list of orders. `GET /wp-json/wc/v2/orders`
4. Deactivate Deposits.
5. Make an API request.

**Expected Resu

[2019-10-04 15:13] callumstrubi opened #46 "Product image sync options, append image, remove image by ID"
Currently the only option (in v2) to manage images is to replace all images on a product, which in turn causes media to be orphaned (and not deleted). It would be great to be able to append a new image to the list of the existing ones, without having to re-upload all of them (and orphan old ones). Additionally, getting ID numbers for the product as part of the response would be really good, so tha

[2019-10-04 15:14] kloon opened #48 "Sort and order products by price"
See https://github.com/woocommerce/woocommerce/issues/23762

[2019-10-08 23:04] Lukaaaa opened #49 "Rest API response - unexpected characters in JSON response"
Calling REST Api for refunds eg: example.com/wp-json/wc/v3/orders/31936/refunds returns a JSON  response containing invalid characters.

We did not change anything on our backend that is calling the woocommerce REST api but we did update the woocommerce plugin to the latest version: 3.7.0

See screenshot:
![response](https://user-images.githubusercontent.com/12089870/66439596-6d9f5880-ea30-11e9-8e

[2019-10-09 12:56] HolyWalley opened #50 "line_items is empty while REST API Order refund."
**Describe the bug**
Versions: wc 3.5.0, wp 4.7.14 php 7.2

I'm working on implementing partial order refunds through Rest API (using ruby client). According to the [documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/?ruby#order-refund-properties) I can specify line items which I want to refund. I've tried with different data but I always got empty(empty array) line_items field

[2019-10-10 11:44] jessepearson commented on #49
@Lukaaaa I had someone else on this side look at this as well, and we aren't able to reproduce the issue you are seeing. The data should always be returned the same regardless. They did notice your `responseType` is set to `blob` and not `json`, have you tried updating that?

Additionally, have you tried the same code on another server?

[2019-10-10 11:52] HolyWalley commented on #50
well, now I see the answer here https://github.com/woocommerce/woocommerce-rest-api/issues/28

[2019-10-10 19:44] timjen3 commented on #37
@claudiosanches It looks like the linked ticket will only add filtering for Products / Variations. A lot of people are asking for filtering of orders in this issue. Is there another PR for filtering of Orders?

[2019-10-12 12:03] Lukaaaa commented on #49
@jessepearson yes, i have tried to to change the responseType to json, nothing changes i am still getting the unrecognized character. Yes i have tried the code also on a different server. Somehow strange...

[2019-10-15 11:41] jessepearson commented on #49
@Lukaaaa Support was not able to reproduce the issue on this end, myself and two others. Perhaps the developers in this repo might be able to add some more assistance.

[2019-10-15 14:52] amirvenus opened #51 "Add notes and balance per customer in admin and REST API"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to use third-party buggy plugins to integrate WooCommerce with the CRMs I create in C#.

Most of the user-cases involve accessing customer notes and balance which is not available in WooCommerce out of the box.

**Describe the solution you'd like**

Two new fields in Customer properties REST API ob

[2019-10-15 14:54] amirvenus opened #52 "Remove read-only from customer role in REST API"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to create a customer using the REST API and then having to change its role as the WC one is read-only.

**Describe the solution you'd like**
Remove read-only from Customer-> role in the REST API

**Describe alternatives you've considered**
For now, I have to either modify the database to change the

[2019-10-16 19:08] claudiosanches commented on #51
By default both are not part of WooCommerce core, so it's not correct to just include both in the REST API, but this is also seems like a specific case, plugins for it should integrate better, this isn't direct a problem for WooCommerce, also you can extend the endpoint to include any field you want, even it's possible to create your own WordPress REST API endpoint ready for your CRM, so you just

[2019-10-16 19:08] #51 closed

[2019-10-16 19:17] claudiosanches commented on #52
Those aren't the only options, there's filters to enable it.
You can find all functions and filters to change it in:

https://github.com/woocommerce/woocommerce/blob/81360d682764658c9fa5e79c795b0cb4ccf93967/includes/wc-rest-functions.php#L214-L353

Closing because for now we don't plan to open the REST API for everyone, since this may cause security problems for some people.

[2019-10-16 19:17] #52 closed

[2019-10-17 21:04] anthonyabc commented on #37
@claudiosanches  #30 Does NOT address this issue.

[2019-10-18 08:22] hedqvist opened #53 "POST /v2/orders or v3/orders does not handle instance_id according to schema"
**Describe the bug**
In the documentation for the rest endpoints:  POST v2/orders or POST v3/orders

The property "instance_id" is displayed as an property that could be posted.
https://ibb.co/jWTz3t5

**Example on posted data if we post like documentation says**:
[code]

**Response from API**:
[code]

**Instead if we post instance_id in meta_data**:
[code]

**Reponse**:
[code]
**To Reproduce**

*

[2019-10-28 16:18] khaledmedra opened #55 "Product variations Attributes not saved if Attribute name in Arabic"
I'm trying to create Product variations for specific Attribute and this Attribute Name in arabic, but this attribute not saved in Product variation.
steps to reproduce this issue
1- create new product over api with  "type": "variable" and assign Attribute to product (arabic letters).
2- add variation to this product,
3- variation will be add with 0 attributes.

[2019-11-03 02:22] huykon opened #58 "Woocommerce api add to cart"
Hi everyone!
I am looking for the way I can add to cart via Woo API, I didn't find it from woocommerce api doc . Probably there is not thing in there so can supporter or someone know the way to get it?
Thanks!

[2019-11-04 11:23] philipp1992 opened #59 "Cant update Status with RestAPI"
2019-11-04T09:49:58+00:00 CRITICAL Uncaught Error: Call to a member function set_status() on null in /home2/wlnsfzmy/public_html/wp-content/plugins/woocommerce/packages/woocommerce-rest-api/src/Controllers/Version3/class-wc-rest-orders-controller.php:185
Stack trace:
#0 /home2/wlnsfzmy/public_html/wp-content/plugins/woocommerce/packages/woocommerce-rest-api/src/Controllers/Version3/class-wc-rest-c

[2019-11-05 16:10] arturhenryy opened #63 "Critical Bug class-wc-rest-orders-controller.php:185 since Update"
**Describe the bug**
Hello since some update my error log is full of this errors

2019-11-04T06:54:11+00:00 CRITICAL Uncaught Error: Call to a member function set_status() on null in /home/wp/disk/wordpress/wp-content/plugins/woocommerce/packages/woocommerce-rest-api/src/Controllers/Version3/class-wc-rest-orders-controller.php:185
Stack trace:
#0 /home/wp/disk/wordpress/wp-content/plugins/woocomme

[2019-11-05 16:29] cdiguy opened #56 "Updating a product always returns woocommerce_product_image_upload_error"
I have a custom plugin that creates/updates product pages from information retrieved from an external customer database.  The plugin uses the WooCommerce REST API PUT request to update existing product page data.  When I updated WooCommerce from ver 3.4.4 to ver 3.7.0 I began to see the following error for all product page updates:
-----------------------
Code: 400
Headers: Array
(
    [Date] => T

[2019-11-05 20:42] ahmed-ho opened #57 "woocommerce-rest-api without Author !!"
hello
i am looking for Author of product when i create new product can i find the way to put the Author
Thanks

[2019-11-05 23:04] mbaio94 opened #60 "Product Paging API Bug - WC v3.7.1"
**Describe the bug**
Sending a GET request to `<storeUrl>/wp-json/wc/v3/products?page=1&per_page=20` correctly returns the first 20 products.  However, changing the `page` url parameter to any page value, returns the same data set in the result: `<storeUrl>/wp-json/wc/v3/products?page=2&per_page=20` returns the SAME 20 products that page 1 returned.

Notes:
- The page size correctly changes the nu

[2019-11-06 11:02] larssn opened #61 "product_id being mandatory when PUT'ing via REST."
**Describe the bug**
Can't seem to update order lines via REST unless a product id is supplied. I don't believe it was always like this, and the docs at http://woocommerce.github.io/woocommerce-rest-api-docs/#order-line-items-properties does not mention it being mandatory.

If I PUT this to `/wp-json/wc/v3/orders/1545?dp=2`:
[code]

I get an HTTP 400 back:
[code]

**Expected behavior**
I expect be

[2019-11-07 08:41] stayhero commented on #37
@claudiosanches Yes, that does not address this issue. We would need to be able to filter for the modified date.

[2019-11-11 11:34] kdekok commented on #37
Other issues DO NOT ADDRESS this one.
Please re-open issue and add` orderby=date_modified`, how hard can that be?

[2019-11-12 16:19] juliaamosova commented on #58
@huykon adding to cart via WooCommerce REST API is currently not possible.

You can try using [Cart REST API for WooCommerce – CoCart Lite](https://wordpress.org/plugins/cart-rest-api-for-woocommerce/) plugin.

For the reference, also see https://github.com/woocommerce/woocommerce/issues/8909.

Closing this issue since no action to be taken at the moment.

[2019-11-12 16:19] #58 closed

[2019-11-14 02:22] jaclync opened #62 "Validation on parameters of numeric string type"
Hello! We are using the WC v3 API to update a WC Product in the WC mobile apps. During my testing, I noticed that passing a non-decimal string to the Product weight, dimensions, regular/sale price where a numeric string is expected would fail silently. An example: passing a non-decimal string to the Product weight and dimensions:

API request body:
[code]

API response:
[code]

The weight/dimensio

[2019-11-14 11:47] juliaamosova commented on #63
Thank you for opening this issue @arturhenryy.

However, I can't reproduce it. According to the error message you are getting in the logs, the error happens here:

https://github.com/woocommerce/woocommerce-rest-api/blob/master/src/Controllers/Version3/class-wc-rest-orders-controller.php#L185.

It looks like you or some other plugin is trying to create or update order via REST API.

The error says

[2019-11-14 18:56] liviudobrea opened #64 "[Orders] $request param mis-usage"
Could someone please explain to me how does this work ?

https://github.com/woocommerce/woocommerce-rest-api/blob/390fb8142078999d667fe8342bc3eec6496958e1/src/Controllers/Version3/class-wc-rest-orders-controller.php#L73-L122

![image](https://user-images.githubusercontent.com/7279288/68886995-7c0c1e80-0718-11ea-9aeb-3f64ec023b35.png)

The above snapshot is triggered via a postman request.

**! HOW

[2019-11-20 21:50] claudiosanches commented on #64
Note that [`WP_REST_Request`](https://developer.wordpress.org/reference/classes/wp_rest_request/) implements [PHP `ArrayAccess` class](https://www.php.net/manual/en/class.arrayaccess.php), that's why it's possible to access any data.

Like using `$request['id']` it's the same than using `$request->get_param( 'id' )`.
Note that the same is used in the WordPress REST API endpoints:

https://github.c

[2019-11-20 21:50] #64 closed

[2019-11-25 14:42] guilherme-oliveria commented on #56
that was a slut they did with the link of the images, because now contain "?" in the image link url does not work and this error.
[https://www.reddit.com/r/Wordpress/comments/ajg9oa/woocommerce_354_and_wordpress_503_rest_api_image/](url 1)

[https://github.com/woocommerce/woocommerce/issues/24484](url my)

[2019-11-25 14:42] guilherme-oliveria commented on #56
that was a slut they did with the link of the images, because now contain "?" in the image link url does not work and this error.
[https://www.reddit.com/r/Wordpress/comments/ajg9oa/woocommerce_354_and_wordpress_503_rest_api_image/](url 1)

[https://github.com/woocommerce/woocommerce/issues/24484](url my)

[2019-11-26 19:21] kepeder commented on #37
Added another pull-request for querying orders as well by created and modified. https://github.com/woocommerce/woocommerce-rest-api/pull/66

[2019-11-27 08:50] michael-xiii opened #67 "Wrong logic of Woocommerce API order"
**Describe the bug**

Looks like Woocommerce API not correctly processing orders number argument - it got Wordpress ID instead expected ORDER_NUMBER

**To Reproduce**
Find the order's number in the admin area and call API

curl https://xxx.com/wp-json/wc/v3/orders/25229 -u xxx:xxx

404.

Next - find the ID (from Wordpress Admin Edit link for example) and call method with

curl https://xxx.com/wp-j

[2019-11-28 09:17] pepijndik opened #68 "Woocommerce Api"
**Describe the bug**
Trying to get orders/statues.
with the Automattic\WooCommerce\Client;

**To Reproduce**
if ($woocommerce = new Client(
  'https://Mywebsite.com',
  'ck_***************17c7b****1b0f0',
  'cs_c4c****33a56*********57c0170***43cd70',
  [
    'wp_api' => true,
    'version' => 'wc/v3',

  ]
))
//Only acticate when Api works
{

  $orders = $woocommerce->get('orders');
  $aantal_orde

[2019-11-30 12:42] humairnoor opened #69 "applying coupon on an order using woocommerce rest API"
I am create an Ionic app (Android/iOS), I have written php API wrappers to create woocommerce orders. The issue is, I am unable to apply coupon_lines while creating order from rest API. You documentation says coupon_lines at the time of create order are "Read Only". Please make them writable as well, so that customers coming from mobile apps can also use coupon.

[2019-12-02 09:38] Lalitchaudhary2 opened #70 "Filter Product List by Mutiple attribute and its attribute terms in Woocommerce Rest API"
i am developing mobile application to connect WooCommerce wordpress V3 rest API in iOS and Android.

i am getting the product list from Rest API

"wp-json/wc/v3/products"

i am able to filter product using

"wp-json/wc/v3/productscategory=241&attribute=pa_flavor&attribute_term=301"

and filter multiple attribute term using

"wp-json/wc/v3/products?attribute=pa_flavor&attribute_term=301,302,305".

[2019-12-02 13:59] anitaa1990 opened #71 "Add option to allow user to specify the low stock threshold in the API"
There is an option available in `wp-admin` to specify the low stock threshold for a product. This field notifies the user if the product stock is less than the number that is specified.

![imgonline-com-ua-twotoone-3Quu9uvj8ZCNZbHw (1)](https://user-images.githubusercontent.com/22608780/69965327-05ee2100-153a-11ea-8e78-6e53baa1157d.jpg)

[2019-12-03 12:50] lukecav opened #72 "Created products using the WooCommerce REST API default variations option will be lost"
Products created on the site using the WooCommerce REST API. The products with variations after random timeframes, the product variation default will be removed. The product attributes still exist but the products created using the WC REST API the variation select option will be lost.

[2019-12-03 19:33] irodriguez777 commented on #72
We are currently experiencing this issue at random. The website is iheartdogs.com.

Here is our system report:
`
### WordPress Environment ###

WordPress address (URL): https://iheartdogs.com
Site address (URL): https://iheartdogs.com
WC Version: 3.7.0
REST API Version: ✔ 1.0.2
Log Directory Writable: ✔
WP Version: ❌ 5.2.4 - There is a newer version of WordPress available (5.3)
WP Multisite: –
WP

[2019-12-06 01:11] #13 closed

[2019-12-09 04:57] erikdemarco opened #75 "Not possible to delete meta_data from REST APi"
Currently its not possible to delete meta_data from rest api, for example like this:
[code]

'my_meta_data' will still be there. even when I do this to delete all meta_data:

[code]

Its also not possible.

[2019-12-10 02:00] om4james opened #76 "Products Controller: images property type should be array not object"
The [REST API v1 defines the "images" property](https://github.com/woocommerce/woocommerce-rest-api/blob/master/src/Controllers/Version1/class-wc-rest-products-v1-controller.php#L2149) with a type of object (which is incorrect).
The [REST API v2 defines the "images" property](https://github.com/woocommerce/woocommerce-rest-api/blob/master/src/Controllers/Version2/class-wc-rest-products-v2-controll

[2019-12-13 11:14] younesberg opened #78 "Adjust Woocommerce Order Search (OR instead of AND)"
I need the adjustment, that one can enter more than only one order-ID into the search and get accordingly several orders.

For example “12002 12003 12004”, so that you get these 3 orders listed.

Does anyone know which line(s) of code must be adjusted, so that the search function uses OR instead of AND? Or ss there a plugin for that?

Many thanks in advance!

[2019-12-16 17:18] juliaamosova commented on #49
@Lukaaaa I am also not able to reproduce it on my end using Postman either. My `GET` request:

`https://mysite.com/wp-json/wc/v3/orders/194/refunds`

My response (no special characters):

![api_response](https://user-images.githubusercontent.com/19143190/70927997-f2f24b00-2027-11ea-8c62-90c788b85d28.jpg)

I realize that this is a late response. Can you please confirm if you are still having this i

[2019-12-16 18:09] juliaamosova commented on #49
@Lukaaaa if the issue persist, can you please test your request with only WooCommerce activated on the site?

[2019-12-16 19:19] ObliviousHarmony commented on #49
Could you supply an example API response complete with the special character that's breaking the formatting?

[2019-12-16 21:48] juliaamosova commented on #50
@HolyWalley thanks for reporting the issue. And yes, as per comment in https://github.com/woocommerce/woocommerce-rest-api/issues/28, we currently support the `amount` field only to be used by external clients when creating refunds.

With that said, I agree that we can make it more explicit in the documentation.

[2019-12-16 21:49] #50 closed

[2019-12-17 10:17] juliaamosova commented on #59
Thanks for raising the issue @philipp1992. I am not able to reproduce it on my end - tried updating status using Postman and it was successful:

![completed](https://user-images.githubusercontent.com/19143190/70986540-ffbd8000-20b5-11ea-8066-2fe96aab443e.jpg)

However, there is an issue open where the author is experiencing the same error as you are: https://github.com/woocommerce/woocommerce-rest

[2019-12-17 10:20] juliaamosova commented on #63
@arturhenryy there is another issue open where the author is experiencing the same error as you are:
https://github.com/woocommerce/woocommerce-rest-api/issues/59

By looking at this error, it seems that you are using some kind of a German version of WooCommerce (such as [Germanized for WooCommerce](https://wordpress.org/plugins/woocommerce-germanized/)), is it correct?

I wonder if the issue has

[2019-12-17 10:47] juliaamosova commented on #45
Thanks for reporting the issue @mindgraffiti. I can reproduce it on my end:

**Deposit extension activated and order placed:**

Site - order #208 shown:

![deposit](https://user-images.githubusercontent.com/19143190/70988874-82483e80-20ba-11ea-8882-03cd2dbbd996.jpg)

API Request - order #208 shown:

![deposit2](https://user-images.githubusercontent.com/19143190/70988887-88d6b600-20ba-11ea-89a7-7c0

[2019-12-17 11:30] juliaamosova commented on #61
Thanks for opening the issue @larssn. I can reproduce the behavior you are describing.

Currently, regardless of how many products are in the order, product ID or SKU is required in order to update `line_items`.

**GET Request for the order #191 details:**

![get1](https://user-images.githubusercontent.com/19143190/70991824-37312a00-20c0-11ea-9df6-03db594524eb.jpg)

**PUT Request to update `line_i

[2019-12-17 12:08] juliaamosova commented on #47
Thanks for reporting the issue @kb6673. However, I can't reproduce it on my end. I realize its been over a year since you opened this report though.

In any case, documenting my findings below:

I created a product via REST API POST Request using:

[code]

I also made sure I could update these 2 fields - see below - I updated both to `2019-12-16T14:52:21`:

![post1](https://user-images.githubuserc

[2019-12-17 12:11] larssn commented on #61
Thanks for replying Julia, it's just strange it's like that.

The line item id should uniquely identify that order item, so it's puzzling why sku and product id would be required, agree?

[2019-12-17 12:41] kb6673 commented on #47
Hi @juliaamosova We only experience this issue half of the year when we switch between UTC and UTC+1

We did a work around in our code to avoid this issue. I'll give it a go with in the next few weeks.

[2019-12-17 12:46] juliaamosova commented on #47
Thanks @kb6673! We'll keep this issue open for now then.

[2019-12-17 13:56] claudiosanches commented on #61
This has been always mandatory, at least in our current REST API v2 and v3.

I agree that for updating should not be necessary, still for create is mandatory for sure.
Also you may use `sku`, `product_id` or `variation_id` in order to get the correct product, so at least one of those values is mandatory while creating a line item.

[2019-12-17 14:06] claudiosanches commented on #61
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #79.

[2019-12-17 14:06] #61 closed

[2019-12-17 15:33] larssn commented on #61
@claudiosanches Thanks for the help Claudio!

The reason I kinda expected being able to create order lines without a product id, is when I consider the scenario where an order has an order-line tied to a product, and then that product is deleted. That order line's product_id then points to nothing.

Since that is already supported, I figured you might support the same via REST.

The actual use cas

[2019-12-17 17:08] fabioquarantini opened #80 "Register rest field attribute terms"
Hello Everyone
I’m trying to add a custom field to the response of `wp-json/wc/v3/products/attributes/3/terms`.
I don’t know what $object_type I should assign to register_route_field to get the response.
Works on other $object_type like "product".
My product taxonomy is: pa_multicolor

[code]
‘custom_field_name’ doesn’t appear in the JSON of the reponse.

[2019-12-18 02:34] anitaa1990 opened #81 "Add option to sort product variations by menu_order field"
in woo-mobile, we would like to sort the product variations according to the `menu_order`.

There is an option in `wp-admin` to change the sorting of variations and this will need to be reflected in the app as well. But when testing with multiple pages of Product Variations, where a variation in a later page has a lower `menu_order`, the sorting keeps changing in the app. Currently when trying to

[2019-12-18 10:17] juliaamosova commented on #53
Thanks for reporting the issue @hedqvist. I can reproduce it on my end.

**POST Request as-is - `instance_id` doesn't get updated - it stays the same on my end (unlike in your example where it becomes empty):**

![api1](https://user-images.githubusercontent.com/19143190/71077384-390df280-217f-11ea-95d4-e4640d472b8c.jpg)

**POST Request posting `instance_id` via `meta_data` - `instance_id` gets upd

[2019-12-18 17:33] juliaamosova commented on #55
Thanks for submitting the issue @khaledmedra. However, I can't reproduce it on my end.

Please see below the request I am making to add a variation with color attribute `أسود` which means `black` in Arabic:

![arabic1](https://user-images.githubusercontent.com/19143190/71108991-37165480-21bc-11ea-99b4-6d2ae39018aa.jpg)

I can see variation being added with the `أسود` attribute on the site:

![arab

[2019-12-18 17:41] juliaamosova commented on #56
@cdiguy please take a look at the reason why we made a change in regards to the type of URL allowed in  https://github.com/woocommerce/woocommerce/issues/24484. Thanks to @guilherme-oliveria for pointing it out.

I am closing this issue since this is not a bug.

[2019-12-18 17:41] #56 closed

[2019-12-18 17:54] juliaamosova commented on #57
@ahmed-ho we currently don't provide an `author` attribute among [product properties](https://woocommerce.github.io/woocommerce-rest-api-docs/#product-properties).

I'll mark this issue as a `feature request` for now.

[2019-12-18 18:14] juliaamosova commented on #60
@mbaio94 thanks for reporting the issue. However, I can't reproduce it on my end.

My findings:

**1) GET Request: <storeUrl>/wp-json/wc/v3/products?page=1&per_page=20**

First product on Page 1 in Postman:

![get1](https://user-images.githubusercontent.com/19143190/71111686-dc7ff700-21c1-11ea-8bf1-9f1465ec8b40.jpg)

First product on Page 1 on the site:

![get4](https://user-images.githubuserconte

[2019-12-18 22:18] #81 closed

[2019-12-18 22:59] juliaamosova commented on #62
Thanks for raising the issue @jaclync. I can reproduce it on my end:

![weight](https://user-images.githubusercontent.com/19143190/71130484-e3bafb00-21e9-11ea-99af-9a6da687830f.jpg)

It looks like something for us to fix. @claudiosanches can you please provide feedback here?

[2019-12-18 23:11] juliaamosova commented on #67
@michael-xiii I am not able to reproduce the issue on my end.

Please see below where I can successfully retrieve order by Order Id:

![order](https://user-images.githubusercontent.com/19143190/71131066-87f17180-21eb-11ea-9e7c-ad8cba92378d.jpg)

It is possible that one of the plugins installed on the site is interfering. Have you tried testing with all plugins deactivated except for WooCommerce?

[2019-12-19 06:24] Lirian21 opened #83 "Getting Tag by Name as well as ID"
I was wondering

If this is a feature? and how it works.

Then if it's not is that something that can be Considered to be added?

My Reasoning for this.

So in my application for instance I have main "Categories" but instead of using a

Category -> Sub Cat -> Sub cat

Kind of approach I used Tags as the Main so:

Tags -> Category - > Sub cat.

Now I use those tags in "Flash Sale's" Or Notification

[2019-12-19 15:31] claudiosanches commented on #62
This should be fixed in #84

[2019-12-19 16:19] claudiosanches commented on #53
Thank you for reporting this issue!

I'm closing the issue as it already has a PR, please continue the discussion over at #85.

[2019-12-19 16:19] #53 closed

[2019-12-23 10:54] Chouby opened #90 "Honor "rest_pre_insert_{$taxonomy}" filter"
In the WordPress REST API, the terms controller calls the method `prepare_item_for_database()` before inserting or updating a term in the database. One important feature of this method is that it applies the filter `rest_pre_insert_{$taxonomy}` allowing 3rd party plugins to modify the data before they are inserted in the database: https://github.com/WordPress/WordPress/blob/5.3.2/wp-includes/rest-

[2019-12-24 16:50] juliaamosova commented on #49
@Lukaaaa I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We'd be happy to take another look.

[2019-12-24 16:50] #49 closed

[2019-12-24 16:50] juliaamosova commented on #55
@khaledmedra I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We'd be happy to take another look.

[2019-12-24 16:50] #55 closed

[2019-12-24 16:51] juliaamosova commented on #59
@philipp1992 I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We'd be happy to take another look.

[2019-12-24 16:51] #59 closed

[2019-12-24 16:51] juliaamosova commented on #60
@mbaio94 I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We'd be happy to take another look.

[2019-12-24 16:51] #60 closed

[2019-12-24 16:52] juliaamosova commented on #63
@arturhenryy I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We'd be happy to take another look.

[2019-12-24 16:52] #63 closed

[2019-12-24 16:52] juliaamosova commented on #67
@michael-xiii I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We'd be happy to take another look.

[2019-12-24 16:52] #67 closed

[2019-12-25 13:29] juliaamosova commented on #68
Hi @pepijndik,

Thanks for raising the issue! However, this seems like a support request and not a bug report.

Are you trying to filter orders based on their statuses? If this is the case, you'd need to use the following request:

`print_r($woocommerce->get('orders?status=completed'));`

This request will print all orders with status `completed`:

![status_completed](https://user-images.githubuse

[2019-12-25 14:29] juliaamosova opened #91 "Mistake in docs: create an order PHP example - `shipping_lines`: `total` should be a string"
There is a mistake in the documentation in PHP example of how to create an order:

https://woocommerce.github.io/woocommerce-rest-api-docs/#create-an-order

In the example, we say that `shipping_lines` `total` is an **integer**:

[code]

But our documentation says, that `total` should be a **string**:

https://woocommerce.github.io/woocommerce-rest-api-docs/#order-shipping-lines-properties

As a r

[2019-12-25 14:45] juliaamosova commented on #69
Hi @humairnoor,

Thank you for opening the issue!

It looks like you are looking to just apply an existing coupon to order when creating it, correct? If this is the case, you can do so as follows: (where `coupon-10` is an existing coupon code on my test site as an example)

[code]

As a result, the order gets created with the coupon applied. The rest of the `coupon_lines` properties get fetched au

[2019-12-25 15:30] juliaamosova commented on #70
Hi @Lalitchaudhary2,

Thank you for posting your question here!

Filtering products by multiple attributes is currently not supported by v3 of the WC REST API. You are welcome to submit a PR for this feature to be included in v4 if you like/can.

In the meantime, I will mark this issue as an `enhancement`.

[2019-12-25 15:57] juliaamosova commented on #72
Hi @lukecav,

Thank you for raising the issue!

Can you please provide a bit more information about the issue you are experiencing.

What are the timeframes when it happens? Is it one day, one month, 3 months?

It will be helpful to see the requests you use to create a variable product.

Also, can you reproduce the same with just WooCommerce activated on the site?

[2019-12-25 17:12] juliaamosova commented on #80
Hi @fabioquarantini,

Thank you for raising the issue!

I believe your request should be `/wp-json/wc/v3/products/attributes/<attribute_id>/terms/<id>` and then you can use `term` for `$object_type` as per docs: https://developer.wordpress.org/reference/functions/register_rest_field/.

[2019-12-25 17:15] juliaamosova commented on #76
Closing as it is fixed in https://github.com/woocommerce/woocommerce-rest-api/pull/86.

[2019-12-25 17:15] #76 closed

[2019-12-25 17:20] juliaamosova commented on #83
Hi @Lirian21,

Thank you for raising the issue!

If I understand you correctly, you should be able to retrieve a product tag and manipulate it further as per documentation below:

https://woocommerce.github.io/woocommerce-rest-api-docs/#retrieve-a-product-tag

Please let me know if this is not what you are looking for?

[2019-12-25 17:29] juliaamosova commented on #90
Hi @Chouby ,

Thank you for taking the time to share this idea, we really appreciate your help.
We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2019-12-25 17:45] juliaamosova commented on #36
Noting here that I can replicate the same:

**POST Request** to create a refund returns no `refunded_payment` property:

![post](https://user-images.githubusercontent.com/19143190/71449094-2034ac80-273e-11ea-9982-762c694e7250.jpg)

**GET Request** to retrieve the details of the refund created above will include `refunded_payment` property:

![get](https://user-images.githubusercontent.com/19143190

[2019-12-25 18:06] juliaamosova commented on #35
Hi @rafal-sokolowski,

Thank you for raising the issue!

However, I can't reproduce it on my end.

I make the following POST request to `wp-json/wc/v3/products/batch` endpoint with identical SKUs:

[code]

As a result, I only get 1 product created as expected:

![sku1](https://user-images.githubusercontent.com/19143190/71449273-12345b00-2741-11ea-944d-2bf0843e14b3.jpg)

And here is to show that if

[2019-12-25 18:41] juliaamosova commented on #31
Hi @Weeb,

Thank you for reporting the issue!

I can reproduce it on my end. Documenting my steps below:

- Created a new coupon `test-coupon` - shows usage as `0`:

![c1](https://user-images.githubusercontent.com/19143190/71449510-ac969d80-2745-11ea-9f23-d8ece29c6dcf.jpg)

- Created a new product with coupon `test-coupon` applied and `set_paid` set to `true`:

![c2](https://user-images.githubuser

[2019-12-25 19:04] juliaamosova commented on #33
Hi @iNadav,

Thank you for raising the issue! However, I can't reproduce it on my end:

![var3](https://user-images.githubusercontent.com/19143190/71449655-57f52180-2749-11ea-89ab-c2f0bae77e88.jpg)

Are you still experiencing the issue?

[2019-12-25 19:08] juliaamosova commented on #24
Hi @CodingLukas,

Thank you for raising the issue! However, this is more of a support request rather than a proper bug report. Are you still experiencing the issue? And if so, do you experience the same with only WooCommerce plugin activated?

The code example link you sent is expired:

![Screen Shot 2019-12-25 at 7 07 26 PM](https://user-images.githubusercontent.com/19143190/71449670-d6ea5a00-274

[2019-12-25 19:23] juliaamosova commented on #22
Hi @NicoJuicy, the issue had been resolved in https://github.com/woocommerce/woocommerce-admin/pull/3174. Can you please test and let us know if it works as expected on your end?

[2019-12-25 20:22] juliaamosova commented on #21
Hi @NielsdeBlaauw,

Thank you for raising this issue!

I don't think there is a bug in the API. The correct way to update `coupon_lines` property will be as follows:

- I created 2 coupons for this test - `coupon-10` (gives fixed cart discount of $10) and `coupon-20` (gives fixed cart discount of $20):

![co1](https://user-images.githubusercontent.com/19143190/71450051-d0f87700-2751-11ea-8344-ac48

[2019-12-25 20:43] juliaamosova commented on #19
Hi @erikdemarco,

Thank you for rasing the issue! However, I can't reproduce it on my end.

Here, I am creating a global attribute `Size` for the first time:

![att1](https://user-images.githubusercontent.com/19143190/71450289-02277600-2757-11ea-9568-2ba6f921b439.jpg)

And here, I am trying to create a 2nd global attribute `Size` - getting an error message:

![att2](https://user-images.githubuserc

[2019-12-25 21:01] juliaamosova commented on #18
Hi @erikdemarco,

Thank you for raising the issue! However, I can't reproduce it on my end.

I have 2 attributes on my site: `color` (attribute id 4) and `Size` (attribute id 5) and each of them has terms:

![t1](https://user-images.githubusercontent.com/19143190/71450400-166c7280-2759-11ea-9dd3-ff3b72a2f84e.jpg)

Here I am making a request to get terms of attribute 4 (`color`) - I am getting the

[2019-12-26 11:14] juliaamosova commented on #17
Hi @martosource,

Thank you for opening this enhancement request! However, we already have support for `date_created` and `date_modified` for most of the endpoints in v3. Some examples are below:

- [Order properties](https://woocommerce.github.io/woocommerce-rest-api-docs/#order-properties)
- [Product properties](https://woocommerce.github.io/woocommerce-rest-api-docs/#product-properties)
- [Cust

[2019-12-26 11:52] juliaamosova commented on #15
Hi @mateuszgwozdz,

Thank you for opening the issue!

However, I am not able to reproduce it on my end.

I am getting the variation on sale where the [price] field shows the current product price which is 3 - correct and as expected:

![sale](https://user-images.githubusercontent.com/19143190/71474963-0ba3f300-27d6-11ea-9837-a326aef57e50.jpg)

Let me know if I missed something and I will take a se

[2019-12-30 14:42] lukecav commented on #72
Can not disable all plugins on the site other than WooCommerce since the store is a high traffic live production store.

[2020-01-07 14:52] pmusolino opened #92 "Product update v3 endpoint: passing null on sale period doesn't work properly"
**Describe the bug**
I’ve discovered a little problem with an endpoint while I’m trying to update a product sale period in [the mobile app](https://github.com/woocommerce/woocommerce-ios).
Endpoint: `/wp-json/wc/v3/products/<id>`. [DOC](https://woocommerce.github.io/woocommerce-rest-api-docs/#update-a-product)

I tried to set the `date_on_sale_from_gmt` and `date_on_sale_to_gmt fields` and everyth

[2020-01-07 17:23] peterfabian commented on #92
As far as I can see, WP core uses either type 'string' to define date-related fields `modified` and `modified_gmt`; WP also uses 'string or null' type to define fields `date` and `date_gmt`.
Based on my experiments, when supplied with `null`, WP core updates the field to current datetime. Interestingly enough, when supplied with string "null", it complains about type not being correct (although it

[2020-01-08 05:49] Lirian21 commented on #83
Hi Sorry for the late response,

I'm Explaining this Poorly, In the most simple of terms, Currently I have a Push Notification that Delivers a ID of a Product Group Then I take that ID to Display that Product group Under a Special Sales Page.

So my Notification currently looks like this

[Image](https://imgur.com/RRbEoi1v)

So you can see Its weird having a Number as a title, So I was curious wea

[2020-01-08 13:37] peterfabian opened #94 "Add the Locale to Settings endpoint"
Needed by mobile team, ref: p7bje6-1Ml-p2

[2020-01-08 14:13] peterfabian opened #95 "Make CI tests run & pass"
Currently the tests are not running on Travis, but they do succeed locally, so we need to fix this on the CI

[2020-01-08 17:53] lukecav commented on #72
No way of telling the frequency as we only notice the issue when we discover it in an audit or a customer notifies us

[2020-01-13 06:00] Vliesie opened #97 "Sold out."
I was wondering if the Api Returns Item's that are out of stock, And weather this is Intentional

So I would have a Product Group Called Let's Say Paint, 2/4 Paints would be sold out on the site They will not appear when the stock is out,

However on the api They appear still, And i'm curious if there's any plans for the Api to handle "Checks" On Checkouts for Quantity of Checkout item -> Site Ite

[2020-01-13 09:41] dverhulst opened #98 "change product 'stock_quantity' type into 'number'"
I am using the api and writing product 'stock_quantity' in decimals, however as the api only excepts integer values, that fails.

I have made a local patch in 'src\Controllers\Version2\class-wc-rest-products-v2-controller.php' where I changed at line 1718:

				'stock_quantity'        => array(
					'description' => __( 'Stock quantity.', 'woocommerce-rest-api' ),
					'type'        => **'integer'

[2020-01-13 13:35] larssn opened #99 "Refunds via REST doesn't refund line_item quantity"
**Describe the bug**
Doing a full refund of an order via REST doesn't behave as expected, from reading the docs.

Doing a POST (wp-json/wc/v3/orders/123/refunds) with the data:
[code]

I cannot get it to refund the line items, which messes up the reports.

**To Reproduce**
1. Just try and do a complete refund of an order via REST.
If you succeed, I'd like to know the recipe.

**Isolating the probl

[2020-01-13 13:43] juliaamosova commented on #15
Hi @mateuszgwozdz,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 13:43] #15 closed

[2020-01-13 13:43] juliaamosova commented on #18
Hi @erikdemarco,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 13:43] #18 closed

[2020-01-13 13:44] juliaamosova commented on #19
Hi @erikdemarco,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 13:44] #19 closed

[2020-01-13 13:45] juliaamosova commented on #33
Hi @iNadav,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 13:45] #33 closed

[2020-01-13 13:46] juliaamosova commented on #35
Hi @rafal-sokolowski,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 13:47] juliaamosova commented on #47
Hi @kb6673,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 13:47] #47 closed

[2020-01-13 14:12] rocketeer76 opened #100 "Product Image not populated with the REST API"
## Prerequisites

Creating a product with the REST API doesn't populate the Product Image, only the Product Gallery.

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate
- [x] The issue still exists against the latest `master` branch of WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the s

[2020-01-13 15:07] juliaamosova commented on #17
Hi @martosource,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 15:07] #17 closed

[2020-01-13 15:08] juliaamosova commented on #24
Hi @CodingLukas,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 15:08] #24 closed

[2020-01-13 15:09] juliaamosova commented on #68
Hi @pepijndik,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 15:09] #68 closed

[2020-01-13 15:10] juliaamosova commented on #69
Hi @humairnoor,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 15:10] #69 closed

[2020-01-13 15:11] juliaamosova commented on #80
Hi @fabioquarantini,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-13 15:11] #80 closed

[2020-01-13 15:13] juliaamosova commented on #83
Sounds like a plan @Lirian21!

I am going to close this issue as it seems your question had been resolved.

[2020-01-13 15:13] #83 closed

[2020-01-14 09:23] sethsnel opened #103 "Getting empty responses on getProducts (but result varies when tweaking per_page parameter)"
**Bug description**
When setting per_page to 100 or 99 on the GET products api call, we are retrieving an empty body response on the last page. However when per_page is set to 50 or 75 it works as expected. Because of this issue we cannot reliable retrieve the largest amounts of products per page.

Also interesting to note, in both instances the second to last page gives a "prev" and "next" link i

[2020-01-14 12:47] rafal-sokolowski commented on #35
Hi @juliaamosova,

Your test in Postman is wrong. It creates multiple products using one request. This works fine.

I specifically wrote that you can create multiple products with identical SKUs by making multiple API requests at the same time.

In order to reproduce that issue, you need to use **curl** as in my **Steps to reproduce** example above.

[2020-01-14 12:50] rafal-sokolowski commented on #35
[code]

![image](https://user-images.githubusercontent.com/10531472/72345649-95a7f300-36d4-11ea-8ec4-c2f141b04c89.png)

[2020-01-14 15:48] sethsnel commented on #103
Thanks for the response and moving the ticket to the appropriate section. I wasn't aware ;)

[2020-01-15 09:19] rocketeer76 commented on #100
This is how we insert new images.

![API](https://user-images.githubusercontent.com/7510893/72421245-677fed00-3780-11ea-8f02-3c9d83033396.png)

[2020-01-15 13:04] fabioquarantini commented on #80
Hi @juliaamosova,
sorry for the late answer. After several attempts I found a solution.

`$object_type = product_attribute_term`

[code]

Thank you

[2020-01-15 15:09] juliaamosova commented on #97
Hi @Vliesie,

We have a product property called `stock_status` which controls the stock status of the product. I believe this s what you are looking for. Options are: `instock`, `outofstock`, `onbackorder`. Default is `instock`:

https://woocommerce.github.io/woocommerce-rest-api-docs/#product-properties

You can manipulate it to create conditions and results you need.

[2020-01-15 15:54] juliaamosova commented on #99
@larssn,

What about simply passing the amount to refund as per docs?

https://woocommerce.github.io/woocommerce-rest-api-docs/?shell#create-a-refund

This way, you can pass whatever amount needs to be refunded. If you'd pass the full amount, it will refund the `line_items` as well.

Here is my request for example:

![refund](https://user-images.githubusercontent.com/19143190/72448613-34a11d80-37a

[2020-01-15 16:17] juliaamosova commented on #100
@rocketeer76,

You need to pass the position of the image as well:

- Image with `position` `0` will be the main product image
- Image with `position` `1` will be the first image in the product image gallery and so on

Here is an example I tested where it worked as expected:

![image](https://user-images.githubusercontent.com/19143190/72450496-61a2ff80-37b2-11ea-952d-b3ff3c74b504.jpg)

[2020-01-15 16:19] rocketeer76 commented on #100
I will verify on my end. Is it possible to update the REST API documentation? There is no information regarding position unless I've missed it:

https://woocommerce.github.io/woocommerce-rest-api-docs/#product-images-properties

[2020-01-15 17:10] juliaamosova commented on #100
@rocketeer76 thanks for your additional comment and nudge for the docs. On the 2nd look, I realized that I provided you with the wrong info. `position` property used to be a part of WC REST API v2 but was removed in v3 and is no longer supported or working: https://github.com/woocommerce/wc-api-dev/pull/1

I tested creating a product using the same request as in my comment above but without `posit

[2020-01-15 18:19] juliaamosova commented on #103
@sethsnel,

I have 228 products on my test site where I tried to replicate the issue you are having. I managed to successfully retrieve the last 28 products using `https://mysite.mystagingwebsite.com/wp-json/wc/v3/products?page=3&per_page=100` GET request:

![100_1](https://user-images.githubusercontent.com/19143190/72459674-2eb53780-37c3-11ea-85b8-6b5410aafe30.jpg)

![100_2](https://user-images.g

[2020-01-15 20:12] Vliesie commented on #97
Hey @juliaamosova

Hmmm I have tried with stock status the issue I was facing was that I don't have a big enough Test group, As its me mySelf and I, If I give you a Scenario Can you maybe Confirm weather this would work or not? Also Please Consider adding a 0 to any Number of Customers I provide

Okay so:

I have a Product Called Eggs There are currently 50 of them, And I have 3 Customers With the

[2020-01-16 12:45] codermrrob commented on #37
The lack of this feature makes integration with accounting systems incredibly difficult. Yes it is possible to create some kind of extension/plugin to deal with this but the reason we are trying to use the API is because plugins seem to be somewhat unreliable

[2020-01-16 14:27] rocketeer76 commented on #100
@juliaamosova I added the position and it works now. I see that the REST API Version is 1.0.2 but the WC Version is 3.8.1. This may be another issue as the REST API should be v3. I think you can close this issue.

https://imgur.com/a/6JN4Z8M

<details>
### WordPress Environment ###

WordPress address (URL): http://www.staging.soeco.se
Site address (URL): http://www.staging.soeco.se
WC Version: 3.8

[2020-01-16 18:09] juliaamosova commented on #35
Thank you for your follow-up @rafal-sokolowski. I am reopening this issue to take a look at it again in a bit.

[2020-01-16 18:34] juliaamosova commented on #98
Hi @dverhulst,

Thank you for taking the time to share this idea, we really appreciate your help.

We should indeed support floating numbers as there are filters to allow it in WooCommece Core. We need to allow the same in the REST API. We’re going to add it to our backlog where it will be considered for future releases.

Stay tuned for updates.

[2020-01-16 18:46] juliaamosova commented on #100
@rocketeer76 thanks for additional comments and feedback. While the current stable version of WC REST API is v3, WooCommerce 3.8.1 comes bundled with WC REST API **release version** number 1.0.6:

https://github.com/woocommerce/woocommerce-rest-api/releases

You should be using 1.0.6 as well instead of older 1.0.2. Are you using the WooCommerce REST API package as a plugin? In which case, you shou

[2020-01-21 15:56] weaselmetal commented on #37
@claudiosanches if you merged both PR 66 and PR 30, then orders, products and product variants would support the requested filter, correct? You mentioned in the PR that the filter needs to be supported on all objects? Which ones? All that are documented in the API docs? Why would that be the case? What speaks against adding the filter option to objects where people actively requested their additio

[2020-01-21 18:20] itsgauravjain22 opened #106 "[WC REST v3] Order - Line items properties should contain primary(first) product image"
When consuming the order rest api, it would be clear that we should get concise details of line items included in the order. But currently, we don't get the product image src. It should give a primary image url of the product.

Primary Image src should be included in Order - Line items properties of order rest api. It would save calling the separate product rest api for just getting the primary pr

[2020-01-21 23:49] itsgauravjain22 opened #107 "[WC REST v3] Order - Line items properties should contain primary(first) product image"
**Is your feature request related to a problem? Please describe.**
When consuming the order rest api, it would be clear that we should get concise details of line items included in the order. But currently, we don't get the product image src. It should give a primary image url of the product.

**Describe the solution you'd like**
Primary Image src should be included in Order - Line items propertie

[2020-01-21 23:50] Babelfisch opened #108 "[REST API v3] Inconsistent data in the sales report if there are refunds"
I think the sales report `/wp-json/wc/v3/reports/sales` provides inconsistent data if there are refunds in the given period. The field `total_sales` contains the gross sales minus the refunds. If I have gross sales of `"100.00"` Euro today and a refund of `"8.00"` Euro, `total_sales` is `"92.00"`. Also the `total_refunds` field has value 8. Correct!

But in the `totals` array for the report groupe

[2020-01-21 23:50] mrmu opened #109 "[WC Restful API v3] Try to update shipping zone methods but get "rest_invalid_param" message."
**Describe the bug**
I want to update the settings "Calculation type" of a "Flat Rate" shipping method of a shipping zone by sending PUT request to /wp-json/wc/v3/shipping/zones/<id>/methods/<id> with json data:
`
{
  "settings": {
  	"type": "order"
  }
}
`
But it returns error message (rest_invalid_param).

**To Reproduce**
Steps to reproduce the behavior:
1. Create api key with read & write cap

[2020-01-22 05:17] Shaggs opened #110 "Just updated now API is not working"
Hi All,
7 hours ago i used the python API to upload and change some data. in the last 2 hours i have updated WooCommerce to the latest version.

just now i have tired to upload a new product and have the following error

[code]
I'm using the python API i have also created a new API key just in-case that was a issue neither key is working.

if you need anymore info please let me know

WooCommerce R

[2020-01-22 13:44] kloon opened #111 "Prices, dimensions and weight fields should allow empty strings"
Certain fields like prices, dimensions and weight should be allowed to have empty string values. The changes in #84 is now causing these fields not to be able to be set to empty strings.

[2020-01-22 18:13] rocketeer76 commented on #100
We don't use the REST API as a plugin. It will get updated in our next release. You can close this issue.

[2020-01-22 18:25] juliaamosova commented on #100
@rocketeer76 sounds good, thanks for confirming. Closing this issue now.

[2020-01-22 18:25] #100 closed

[2020-01-23 09:47] Shaggs commented on #110
Closed seems it was caused by another plugin (W3 Total Cache)

[2020-01-23 09:47] #110 closed

[2020-01-24 13:44] raymondlittle100 opened #113 "Filter orders"
I'm a developer but am new to interacting with Woo Commerce. I'm trying to get orders from Woo but I can't see a way to get a specific order number by a property and not the number. If I get all orders I can see the JSON comes back with the and "number" property but I can't see a way to only return one order filtering on the number field, see examples below

Doesn't work
https://URL/incremental/wp

[2020-01-24 14:09] itsgauravjain22 commented on #111
Yes please fix it asap. Regular prices, sale prices, weight, and dimensions should allow empty stings.

[2020-01-24 14:11] #106 closed

[2020-01-24 15:26] itsgauravjain22 opened #114 "Changing stock_status via PUT rest api is not possible"
API  ->  PUT /wp-json/wc/v3/products/<id>

"stock_status" is not functional via put request. Tried changing from "instock" to "outofstock" and "onbackorder" of a simple product, but the output "stock_status" remain "instock"

[2020-01-24 15:33] itsgauravjain22 commented on #44
Any update on this.

[2020-01-24 20:40] claudiosanches commented on #94
This need to be better discussed before we move into any direction.

[2020-01-24 20:40] #94 closed

[2020-01-27 07:26] MioPedersen commented on #37
Why this has not become a feature years ago is baffling to me. Would you just communicate if this is a feature that will be implemented or not? We have a ton of users who really need this feature, and we're constantly bombarded by issues because of this.

[2020-01-27 08:43] emilpriverrc opened #116 "Products not updated on PUT request. Still returns 200"
Hello,

Currently working on a solution with the api to make an external provider be able to update products price and 1 meta data. We have discovered that API always returns 200 even if there was no update. Legacy API are able to update a single products price and so on, but not the meta data, but the new API updates nothing.

How do you update meta data via the old API or do you might know any w

[2020-01-27 09:31] larssn commented on #99
Any status on this?

[2020-01-27 12:48] redelschaap opened #121 "API issue: Invalid parameter error when defining an empty string for sale_price"
**Describe the bug**
We connect to a couple dozen of WooCommerce shops using the API. Since a few days, we get the following error when sending an empty string for the "sale_price" key on variations:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send a POST request to `https://domain.com/wp-json/wc/v3/products/{productId}/variations/{variationId}` with valid data:<br/>
[code]
2. Ge

[2020-01-27 13:18] redelschaap commented on #121
@juliaamosova Thanks!

[2020-01-27 16:25] redelschaap commented on #121
I have some new information: this happens only when you send the request with the following header: `Content-Type: application/json`. When the request is sent with `Content-Type` set to `application/javascript` or `text/plan`, the request is processed correctly.

While this is a (temporary) work around, we use the [automattic/woocommerce](https://github.com/woocommerce/wc-api-php) package, which h

[2020-01-28 14:01] #111 closed

[2020-01-29 11:02] MasterPCUK commented on #121
Had the same issue, fixed now in

WooCommerce 3.9.1 – 2020-01-28
    REST API – Fixed – Product and variations schema to allow remove sale prices, dimensions and weight.

[2020-01-30 08:55] dademaru commented on #98
Hi,
I think it could be used `has_filter( 'woocommerce_stock_amount', 'intval' )`, as has been done elsewhere.
[code]
possibly in all WC REST API versions.

[2020-01-30 14:49] redelschaap commented on #121
I can confirm that this is now fixed in 3.9.1 👍

[2020-01-30 14:49] #121 closed

[2020-01-30 17:45] ChaseWiseman opened #122 "[v2 & v3] System Status filter data changed type in v1.0.6/WC 3.9"
The primary `$request` parameter that's passed to the `woocommerce_rest_prepare_system_status` filter has inconsistent data between v1.0.5 and 1.0.6.

Previously, many of the top-level property values like `environment` and `settings` that are present in `\WP_REST_Response::$data` were PHP objects, matching their type in the schema.

Due to the changes in https://github.com/woocommerce/woocommerce

[2020-01-31 11:19] juliaamosova commented on #109
Hi @mrmu,

Thank you for taking the time reporting this bug, we really appreciate your help. I can reproduce it on my end.

Not able to make a `PUT` request to update the `type` of the Flat rate shipping zone:

![api1](https://user-images.githubusercontent.com/19143190/73535279-1f68f780-441b-11ea-92c4-68e8a2619edb.jpg)

Another interesting thing noticed is that when I `GET` the details of the Flat

[2020-01-31 13:02] juliaamosova commented on #114
Hi @itsgauravjain22,

Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end when making a `PUT` request to update `stock_status` from `instock` to `outofstock`:

![stock](https://user-images.githubusercontent.com/19143190/73541243-d3717f00-4429-11ea-8f78-6682d730df81.jpg)

Please provide us wi

[2020-01-31 13:13] juliaamosova commented on #107
Hi @itsgauravjain22,

Thank you for taking the time to share this idea, we really appreciate your help.

While this is clearly a great improvement/idea we won’t be able to tackle it in the upcoming weeks. We’re going to add it to our backlog where it will be considered for future releases.

[2020-01-31 13:24] itsgauravjain22 commented on #114
Kindly check this [link](https://www.screencast.com/t/7iN5GdcnYiOt) for details. I still have that problem.

[2020-01-31 13:25] juliaamosova commented on #62
Reopening this issue since https://github.com/woocommerce/woocommerce-rest-api/pull/84 was reverted in https://github.com/woocommerce/woocommerce-rest-api/pull/112.

[2020-01-31 13:43] itsgauravjain22 commented on #107
Thanks @juliaamosova for the positive reply. I hope it would be implemented to improve the efficiency of consuming applications in mind.

[2020-01-31 13:45] juliaamosova commented on #108
Hi @Babelfisch,

Thank you for taking the time to share this idea, we really appreciate your help.

I see what you mean and agree that having the correct data in the sales by day section would be beneficial. Screenshot for a better visual representation:

![refund](https://user-images.githubusercontent.com/19143190/73543865-ceafc980-442f-11ea-90cc-597ed8218cd5.jpg)

While this is clearly a great i

[2020-01-31 13:57] juliaamosova commented on #113
Hi @raymondlittle100,

The only way to retrieve the order is by `<id>` which is a `post` id but it is the same as the order number. The request will be `GET`: `/wp-json/wc/v3/orders/<id>` as per our [documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/?php#retrieve-an-order) that you already linked.

Example:

![example](https://user-images.githubusercontent.com/19143190/7354465

[2020-01-31 14:22] juliaamosova commented on #116
Hi @emilpriverrc,

Thank you for submitting the issue. The body of the request to adjust the price and metadata should be as follows:
[code]

Here are some screenshots showing before and after the request:

Initial product data:

![1](https://user-images.githubusercontent.com/19143190/73546324-f5243380-4434-11ea-9257-fac98889f1f8.jpg)

![2](https://user-images.githubusercontent.com/19143190/735463

[2020-01-31 14:27] juliaamosova commented on #103
Hi @sethsnel,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-01-31 14:27] #103 closed

[2020-01-31 17:04] juliaamosova commented on #114
@itsgauravjain22 I am not able to open the link - is there any other way for you to share what you want to share?

[2020-01-31 17:35] itsgauravjain22 commented on #114
![1](https://user-images.githubusercontent.com/11793930/73560989-1e1ce680-447e-11ea-936d-cf55921cf28d.png)
![2](https://user-images.githubusercontent.com/11793930/73561018-2412c780-447e-11ea-9390-c7d9907c9126.png)

[2020-01-31 19:11] claudiosanches commented on #122
@ChaseWiseman please feel free to submit a Pull Request, so we can include in the next release.
Still we can't force the type for all objects using the schema like before, it breaks the use of `_fields`.

[2020-02-01 10:45] itsgauravjain22 opened #123 "Need a way to upload product image via file upload using Woocommerce Rest API"
I can't find a way to upload local images for an existing product or a new product. The woocommerce PUT endpoint for ```/wp-json/wc/v3/products/<id>``` should have a way to upload image mechanism so that the external app could communicate with woocommerce store.
It should support the image data in Base64 with some checks on the server or any other suitable way to upload product images. This would

[2020-02-03 07:22] homes2001 commented on #37
This issue should get reopened. It was closed on Oct 4, 2019 because there was an open PR, but the PR was closed by @kepeder , without anything actually getting merged. The issue described here still remains, we are still looking for a way to only list orders modified after a certain date.

[2020-02-03 08:17] weaselmetal commented on #78
See:
http://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-orders

The `include` parameter should be the filter you are looking for, according to the documentation.

[2020-02-03 10:49] itsgauravjain22 opened #125 "Product details API should give objects of attributes terms including attributes id in options array"
Options array inside attributes should output options as an array of separate attributes objects including attributes terms ids as well.
This will be helpful for updating the product attributes via rest API.
Currently ```/wp-json/wc/v3/products/<id>``` output the following
[code]

I refer the attributes terms objects given by ```/wp-json/wc/v3/products/attributes/<attribute_id>/terms```. For eg.
[

[2020-02-03 18:10] Arohonka commented on #37
Would this help, I just found this snippet and it works: https://rudrastyh.com/wordpress/date-range-filter.html

[2020-02-03 18:29] kepeder commented on #37
I merged multiple PRs into one, so that one is still open :-)

[2020-02-04 11:29] itsgauravjain22 opened #126 "Include currency details in 'list all products' and 'retrieve a product' endpoints"
Please include `currency`, `currency_symbol` and `currency_position` in the output of `GET /wp-json/wc/v3/products` and `GET /wp-json/wc/v3/products/<id>`

This would save calling `GET /wp-json/wc/v3/system_status` for every time the updated product data is required. Also, it would greatly enhance the usability of fetching product details via Rest API in the case of multi-currency stores.

[2020-02-04 11:45] itsgauravjain22 opened #127 "Include 'dimension_unit' and 'weight_unit' in 'list all products' and 'retrieve a product' endpoints"
Include `weight_unit` and `dimension_unit` in the output of `GET /wp-json/wc/v3/products` and `GET /wp-json/wc/v3/products/<id>`

`dimension_unit` should be a part of Dimension Object.

[2020-02-05 14:06] #95 closed

[2020-02-06 08:48] RanNir143 opened #128 "API authentication 401"
Hey, i have written an integration between my app and WooCommerce which allows users to sync their workflows on both platforms. I am using token based authentication as detailed the API(https://woocommerce.github.io/woocommerce-rest-api-docs/) to let users give me permissions to make API requests on their behalf.

some of my users receive 401 message when trying to give us permissions, without too

[2020-02-07 07:35] waqaramjad opened #132 "woo commerce rest api not giving any data"
woo commerce rest api not giving any data

[2020-02-07 09:10] juliaamosova commented on #113
Hi @raymondlittle100,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-07 09:10] #113 closed

[2020-02-07 09:11] juliaamosova commented on #116
Hi @emilpriverrc,

As a part of this repository’s maintenance, I am closing this issue due to inactivity. Please feel free to comment on it in case we missed something. We’d be happy to take another look.

[2020-02-07 09:11] #116 closed

[2020-02-07 12:42] jmawebtech opened #131 "REST API Show Website Timezone"
**Is your feature request related to a problem? Please describe.**

My software syncs orders from WooCommerce to QuickBooks and my software uses the V3 REST API:

To pull sales, I need the user's timezone. I have to use the legacy API to pull the timezone. Here is an example:

https://1106-7916.el-alt.com/wc-api/v3

Under meta > timezone, you will see America/New_York. In your latest REST API, can

[2020-02-07 17:49] itsgauravjain22 commented on #128
You haven't provided the complete details on how you provided tokens. Is it on http oauth token or https keys.
If it's http keys, I am unaware of this.
If it's https keys, there might be a problem with server trimming the Authentication headers. In that case, you can use username & password in url.

[2020-02-07 18:46] itsgauravjain22 opened #129 "Push Notifications via Rest API"
Need a way to trigger push notifications via rest API on various events like order status changed, order details modified, customer added, products update, product added.
It should be implemented for popular push notifications services in mind like firebase, onesignal, etc

[2020-02-08 21:52] chrisbbe opened #130 ""total_sales" field in the GET v3/products response is of type string instead of integer for some products"
Hi,

I'm running WooCommerce version 3.9.1 and WooCommerce REST API package version 1.0.7.

I created a new product as a draft (never published), then the response from GET v3/products represented the product in the list with field **total_sales** with a value **"0".** According to the API documentation, this field should be of type integer causing my JSON marshaling to fail.

All other products h

[2020-02-09 10:43] liorke commented on #128
Hi @itsgauravjain22 , following up @ranyo2 question - YES, it is an https keys.
Can you describe better how exactly to use the consumer_key & consumer_secret to make it work?

this is how I use the api today, and it works only for HTTP urls:
[code]

[2020-02-09 10:51] itsgauravjain22 commented on #128
I never used woocommerce rest client. But you can try hit the woocommrce rest API endpoint directly in postman.
For eg.
Listing all products would be GET request to
`{{url}}/wp-json/wc/v3/products?page=1&per_page=20&consumer_key={{consumer_key}}&consumer_secret={{consumer_secret}}`

[2020-02-09 14:17] liorke commented on #128
@itsgauravjain22 looks good, thanks!

[2020-02-10 19:35] LocalHeroPro opened #133 "Get count of all orders and by type"
Please add endpoint to retrieve count of all - and by status type - orders.
Right now we can access to that data only after first fetch data from endpoint, using data hidden in header: X-WP-Total and X-WP-TotalPages.

[2020-02-11 14:29] sethsnel commented on #103
@juliaamosova thanks for testing to reproduce the error using my steps. My apologies for not responding. I totally agree with you that there's like a problem with the server this Woocommerce installation is used and/or plugins that are in stalled.

However, unfortunately I don't have acces to the our client server and/or Woocommerce installation. We just have access to read data from their API. I

[2020-02-12 10:40] tommiby opened #134 "Shipping costs on refunds"
Hello,

it seems that refunfded shipping costs are not showing on order refunds when refund is accessed through REST API. The refund shows only the refunded order rows but not the shipping cost details when the shipping costs had been refunded. Would it be possible to add the the refunded shipping cost data also to refunds similar way as it is the orders?

[2020-02-12 12:44] emfluenceindia opened #138 "Orders API: list_all_orders all orders endpoint is saying dates are invalid for before and after parameters"
**Describe the bug**
https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-orders
According to the official documentation, I passed two ISO8601 compliance dates against `before` and `after` parameters but getting the following response:

`{"code":"rest_invalid_param","message":"Invalid parameter(s): after, before","data":{"status":400,"params":{"after":"Invalid date.","before":"Invalid

[2020-02-14 08:18] lmindwarel opened #135 "Can't insert/update product type 'booking' via rest API with WooCommerce Booking"
Hi,

I am using WooCommerce + WooCommerce Booking with the rest API.
I have an issue while trying to insert product of type 'booking' via the WooCommerce API:

[code]

However, when I get the products from the API, their type may well be "booking".
Is there a way around this check ?

Thanks in advance

[2020-02-14 08:51] lmindwarel commented on #135
My bad. Sorry.
I just need to use the WooCommerce Booking API endpoint instead the WooCommerce API endpoint.
`/wp-json/wc/v3/products/` => `/wp-json/wc-bookings/v1/products/`

[2020-02-14 08:51] #135 closed

[2020-02-14 09:32] itsgauravjain22 commented on #123
Following the above discussion, I have referred WordPress [documentation](https://documenter.getpostman.com/view/8140651/SVYnQft9?version=latest#5eeb3cfc-89ae-4c3e-92b4-aef8586d1869) to upload media image and get image `source` from the response.

The problem with this mechanism is that the woocommerce rest API authentication keys can't validate the WordPress rest API. I kindly request the woocomm

[2020-02-14 16:49] razaadeel opened #136 "Woocommerce Api for JS return rest_invalid_param"
I am using woocommerce api,
I am sending the a GET request to request woocommerce url:

mysite.com/wp-json/wc/v2/products/categories?parent=0
But the plugin responds with a HTTP 400 and the following body:

`{
  "code": "rest_invalid_param",
  "data": {
    "params": {
      "parent": "parent is not of type integer."
    },
    "status": 400
  },
  "message": "Invalid parameter(s): parent"
}`

But

[2020-02-15 13:00] sachinknv024 opened #137 "getting error while creating product using google drive links for images."
while calling WooCommerce product create API getting the below error

{'code': 'woocommerce_product_invalid_image_id', 'message': '#1028 is an invalid image ID.', 'data': {'status': 400}}

[2020-02-16 21:33] claudiosanches commented on #138
This message is validation on WordPress, uses the same validation like any other WordPress REST API endpoint.

So this validation works based on the schema of the endpoint, to validate it will run this function: https://developer.wordpress.org/reference/functions/rest_validate_value_from_schema/
For `date` will get validated by https://developer.wordpress.org/reference/functions/rest_parse_date/

[2020-02-16 21:33] #138 closed

[2020-02-17 10:58] itsgauravjain22 commented on #123
Any update on this??? If someone could help to find the way to upload the product images via woocommerce rest api authenticated with consumer_key and consumer_secret

[2020-02-18 08:18] mujuonly opened #140 "REST API source on Github - link is 404"
https://github.com/woocommerce/woocommerce/tree/master/includes/api
![Screenshot 2020-02-18 at 1 47 21 PM](https://user-images.githubusercontent.com/459367/74716823-47e35500-5255-11ea-8f7a-4c25eb8e35cf.png)

[2020-02-22 13:57] Ahhsan opened #141 "API Not return the public data"
I’m making a mobile application for wooCommerce store, and for that I want that anyone should view my products, even he isn’t registered, like in my web.
But when I make a request to get a list of products. It doesn’t returns and responds with error
{"code":"woocommerce_rest_cannot_view","message":"Sorry, you cannot list resources.","data":{"status":401}}
Even thought my products are visible on my

[2020-02-25 19:22] emfluenceindia opened #142 "REST API: There should be option for fetching refunds between dates without Refund ID"
**Is your feature request related to a problem? Please describe.**
The REST API should an endpoint which can fetch me a list of REFUNDS within a given date range. Right now I can only fetch by refund ID, which means only one refund could be pulled up. I am building a custom dashboard where I need to list the above. So it is a kind of problem and I didn't get an option to meet the requirement.

**D

[2020-02-25 20:25] sponiza commented on #134
I agree with this one. Without the shipping tax details it is very hard to work with the refunds. Would appreciate if this could be picked up.

[2020-02-25 22:43] AmandaRiu opened #143 "Product returned from API that does not exist in the store"
There is likely a logical explanation for this, but I'm unable to figure it out. When I fetch a list of products from the API I'm getting a product in the response that does not exist on my store. I've tried searching by the SKU for the mystery product, but no luck. Here's a screenshot:

![Screen Shot 2020-02-25 at 12 52 39 PM](https://user-images.githubusercontent.com/5810477/75294332-51386880-57

[2020-02-25 23:52] stefanos82 commented on #35
@juliaamosova @rafal-sokolowski I have been dealing with this issue for months now and it drives me crazy.

I first found this in October when a customer called about having thousands of duplicated and even quadruplicated products in draft and thought it was my script.

![image](https://user-images.githubusercontent.com/1777466/75298014-0432b180-583a-11ea-9ed1-bbf020c4ef17.png)

I have designed my

[2020-02-26 00:11] stefanos82 commented on #35
@rafal-sokolowski this is to verify that I have managed to reproduce your bug by following your aforementioned steps:

![image](https://user-images.githubusercontent.com/1777466/75299145-f3d00600-583c-11ea-8206-ca1b3983cc06.png)

### WordPress Environment ###

WordPress address (URL): https://local.demo
Site address (URL): https://local.demo
WC Version: 3.9.2
REST API Version: ✔ 1.0.7
Log Director

[2020-02-26 00:42] shiki opened #144 "regular_price can be a number instead of a string on /v3/products"
If [Product Bundles](https://woocommerce.com/products/product-bundles/) is installed, bundle products will have a **number** as their `regular_price` in the `/wp-json/wc/v3/products` endpoint:

[code]

This contradicts the [REST API doc](https://woocommerce.github.io/woocommerce-rest-api-docs/#product-properties) which mentions `regular_price` to be a `string`.

We expected the `regular_price` (an

[2020-02-26 06:38] Babelfisch opened #145 "Deleting an order has no affects on wp_woocommerce_order_items/_itemmeta"
If an order is deleted with the REST API delete command (with force), the database tables `wp_woocommerce_order_items` and `wp_woocommerce_order_itemmeta` will not be deleted. All entries are still in the database and only the corresponding `wp_posts` and `wp_postmeta` are deleted.

Contrary to this, if an order is deleted by the web interface and the trash is removed, also the tables `wp_woocomme

[2020-02-26 07:15] anitaa1990 opened #146 "Products sorting by name affected by HTML entities"
In the Woo mobile app, we are sorting the product list by `name`. HTML tags in the product name can affect the ordering. For example, my product <em>Cool</em> Beanie &amp; More! appears at the top of the product list instead of being ordered by the first letter “c” in the name:

<img width="1085" alt="Screenshot 2020-02-26 at 12 29 50 PM" src="https://user-images.githubusercontent.com/22608780/753

[2020-02-26 14:29] #137 closed

[2020-02-27 08:15] Babelfisch commented on #145
It seems to be a problem with our cloud sync. Closed.

[2020-02-27 08:15] #145 closed

[2020-03-03 15:55] glagonikas opened #147 "Call to a member function get() on null when Geolocate (with caching) is enabled"
**Describe the bug**
When "Geolocate (with page caching support)" is enabled, visiting a URL similar to /whatever/wp-json/wp/v2/posts/None throws a fatal error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Geolocate (with page caching support) on WooCommerce settings
2. Visit /whatever/wp-json/wp/v2/posts/None

**Expected behavior**
When the "Geolocate" option is enabled, t

[2020-03-03 16:40] glagonikas commented on #147
Hi @tammullen see below. Have you got a staging environment?

[code]

[2020-03-04 10:05] itsgauravjain22 opened #148 "Separate global rest API authentication plugin"
I like the idea of basic authentication with strong key/secret pair for authenticating woocommerce rest API. But these keys can't authenticate other rest endpoints like WordPress rest API, dokan vendor API, wcfm multivendor rest API authentication.

I believe there should be standard authentication mechanism to authenticate users for store rest API in wordpress.

In current scenario, we need diffe

[2020-03-06 19:41] seb86 commented on #141
@Ahhsan My public products API is now available for early access to customers.

[2020-03-07 11:01] Ahhsan commented on #141
how can I use it @seb86 ?

[2020-03-07 14:09] seb86 commented on #141
Probably best we continue the conversation via my live chat at CoCart.xyz

[2020-03-08 23:25] fabianwurk opened #149 "Custom taxonomy not showing on API request"
I have a custom taxonomy called 'brand' created for WooCommerce which does appear in the backend fine, but when I do a GET request via API call it doesn't show the taxonomy in the json response.

I've added this when I've registered the custom tax:

`		'show_in_rest'               => true,
		'rest_base'                  => 'brand',
		'rest_controller_class'      => 'WC_REST_Products_Controller',
`

[2020-03-10 14:49] larssn commented on #99
@juliaamosova Do you still need more feedback?

[2020-03-12 09:56] mujuonly opened #150 "Creating product in batch with meta_data is not working"
[code]

Any issue with the data format.?

[https://stackoverflow.com/q/60631396/1117368](https://stackoverflow.com/q/60631396/1117368)

[2020-03-14 05:32] itsgauravjain22 commented on #114
It is not explicitly mentioned that stock_status field is dependent on present stock_quantity of a product anywhere in the document. I don't need to send `manage_stock` and `stock_quantity` along with `stock_status: out_of_stock`. There's undocumented server side check with these field. And I guess it's better to have it.

[2020-03-14 05:32] #114 closed

[2020-03-18 19:09] juliaamosova commented on #125
Hi @itsgauravjain22,

Thank you for taking the time to share this idea, we really appreciate your help.

I am adding an `enhancement` label to it for now but we will need to evaluate this further with the WooCommerce Core team.

[2020-03-18 19:09] juliaamosova commented on #126
Hi @itsgauravjain22,

Thank you for taking the time to share this idea, we really appreciate your help.

Similar to your other requests, I am adding an `enhancement` label to it for now but we will need to evaluate this further with the WooCommerce Core team.

[2020-03-18 19:11] juliaamosova commented on #123
Hi @itsgauravjain22,

Thank you for taking the time to share this idea, we really appreciate your help.

There is no other way to add an image to a product via WC REST API other than what you had already been doing. More on this here: https://github.com/woocommerce/woocommerce/issues/17556

Similar to your other requests, I am adding an `enhancement` label to it for now but we will need to evaluat

[2020-03-18 19:12] juliaamosova commented on #127
Hi @itsgauravjain22,

Thank you for taking the time to share this idea, we really appreciate your help.

Similar to your other requests, I am adding an `enhancement` label to it for now but we will need to evaluate this further with the WooCommerce Core team.

[2020-03-18 19:18] juliaamosova commented on #148
Hi @itsgauravjain22,

Thank you for taking the time to share this idea, we really appreciate your help.

Similar to your other requests, I am adding an `enhancement` label to it for now but we will need to evaluate this further with the WooCommerce Core team.

[2020-03-18 19:41] juliaamosova commented on #128
Hi @ranyo2, we apologize for the delayed response! Do you still need help with authentication? If so, can you please provide a bit more details on how exactly you authenticate right now?

[2020-03-18 21:33] juliaamosova commented on #130
Hi @chrisbbe,

Apologies for the delayed response! Thank you for submitting the issue. However, I can’t reproduce the issue you reported using the steps you provided. Everything is working as expected on my end. Tested with WooCommerce 4.0.

My product in the `draft` status:

![draft1](https://user-images.githubusercontent.com/19143190/77009422-46817700-693e-11ea-9213-67981b462e08.jpg)

My GET req

[2020-03-18 22:33] juliaamosova commented on #140
Hi @mujuonly,

Thank you for reporting the issue, we really appreciate your help. I can indeed see that we need to fix the URL in the documentation.

WooCommerce REST API Documentation is being "developed" in another repository: https://github.com/woocommerce/woocommerce-rest-api-docs.

I am going to move your bug report there so that it is in the right place.

[2020-03-18 22:40] juliaamosova commented on #133
Hi @LocalHeroPro,

Thank you for taking the time to share this idea, we really appreciate your help. I am adding an `enhancement` label to your issue but we'd need to evaluate it further with the WooCommerce Core team.

[2020-03-19 10:30] erikdemarco opened #151 "woocommerce_rest_prepare_X_object cant remove single item"
when we want to remove single item using 'woocommerce_rest_prepare_X_object' hook. the end result will be empty array..

Its because of this file:
 woocommerce-rest-api/src/Controllers/Version3/class-wc-rest-crud-controller.php (line 363)

it should do a is_empty() check before adding it to $objects[]
if not, the end result will be an empty array of item

[2020-03-24 14:13] aman2505 opened #153 "how do i filter resources by the date modified? the after parameter provided only filters by date created"
We don't offer technical support on GitHub so we recommend using the following:

**Reading our documentation**
Usage docs can be found here: https://docs.woocommerce.com/

If you have a problem, you may want to start with the self help guide here: https://docs.woocommerce.com/document/woocommerce-self-service-guide/

**Technical support for premium extensions or if you're a WooCommerce.com custome

[2020-03-25 04:42] itsgauravjain22 opened #154 "Ability to select list of GET request without authentication"
The woocommerce rest API are cool but they have very limited purpose. Just modify the store with mobile or ther app.

I think this pupose can be further enhanced to use the rest API in general if there's ability to select some GET endpoints to be used in consumer application. That would open the doors for front-end mobile apps, modern spa web apps like https://www.vuestorefront.io/

Also it will o

[2020-03-26 12:25] seb86 commented on #154
@itsgauravjain22 CoCart has an add-on that provides the products without authentication. https://cocart.xyz/add-ons/products/

[2020-03-26 12:27] seb86 commented on #126
@itsgauravjain22 Is this required because you run a multi-currency store?

[2020-03-26 12:34] seb86 commented on #144
@shiki I suspect this is due to Product Bundles overrides the regular price value to which the REST API reads from so it's not enforcing the value type to remain the same. In my products API I wrap the value with the currency symbol.

I'm now wondering if I should provide a raw version as well.

[2020-03-26 13:19] shiki commented on #144
Hi @seb86! This was fixed in the Product Bundles recently so it stopped happening. It was probably because of an override. Though I think the API itself should enforce this so that no other extensions could easily override the type.

Sorry, I'm not familiar with your use case to give some advice. 🙂

[2020-03-26 14:43] seb86 commented on #144
@shiki Sorry I was referring to my [products API](https://cocart.xyz/add-ons/products/).

[2020-03-26 19:29] MohamedSaeed4000 opened #156 "Error: The API credentials you provided are not valid. Please double-check that you entered them correctly and try again."
Please report WooCommerce REST API (https://github.com/woocommerce/woocommerce-rest-api) or WooCommerce Gutenberg Products Blocks (https://github.com/woocommerce/woocommerce-gutenberg-products-block) issues directly to their respective repositories.
Error: The API credentials you provided are not valid. Please double-check that you entered them correctly and try again.
Please help me ..

[2020-03-27 07:27] itsgauravjain22 commented on #126
@seb86 No, I am not using multi currency store currently. But the intention of creating this issue is to have multiple currency store. Also, it will make easier to display order currency in frontend if included in order details api response, instead of calling separate rest API just to fetch currency details.

[2020-03-29 22:22] stefanos82 commented on #150
Your problem seems to be the actual data you are passing inside your `meta_data`. If those data don't exist, won't work.

Now, what do I mean by that; let's say you have extended your `functions.php` or you have created a custom plugin that extends WooCommerce by adding a unit quantity that let users measure their stock in kilograms and you gave it the meta data value id `_unit_quantity`.

That `_

[2020-03-31 06:12] mujuonly commented on #150
@stefanos82  I think your understanding is wrong. am talking about custom metadata - not the hidden metadata.

[2020-03-31 06:46] Vliesie opened #160 "Response time Advice"
Hi guys.

I'm curious if you could lend some advice in regard to response time's for the API.

I'm new to the whole API Development Scenario and Im busy making a Small Ecom application for Mobile Using Xamarin.

The issue im having is that In the Cart I Built It's taking me around 4/5 Seconds to place 1 item into orders.

This is hugely Part to me having to Pull a item before checkout and see if i

[2020-03-31 12:41] stefanos82 commented on #150
Well, you weren't clear at all in your postings.

Good luck.

[2020-03-31 15:56] mujuonly commented on #150
@stefanos82  My sample data itself describes it's custom  metadata. Thanks though

[2020-04-02 10:09] glutaminefree commented on #25
Total products count returned in **X-WP-Total** header. [See on StackExchange](https://wordpress.stackexchange.com/questions/217490/get-post-count-in-wp-rest-api-v2-and-get-all-categories/274198)

[2020-04-07 01:53] iqoOopi opened #165 "API V3 - How to retrieve Order details by order number instead of id?"
API V3 - How to retrieve Order details by order number instead of id?

[2020-04-07 16:19] itsgauravjain22 opened #164 ""Invalid parameter(s): after, before on List all products API"
As per [documentation](https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products) of `GET{{url}}/wp-json/wc/v3/products?consumer_key={{consumer_key}}&consumer_secret={{consumer_secret}}&after=2019-04-01&before=2020-04-01`, I got the following error:

[code]

As the dates included in the URL are ISO8601 compliant, it might be the bug.

[2020-04-08 22:39] itsgauravjain22 commented on #123
Could this issue be prioritized. Would be great if woocommerce provide wrapper around wordpress media rest API authenticated with woocommerce keys/secret pair.

[2020-04-09 23:34] itsgauravjain22 commented on #165
I believe order number is same as order id in woocommerce. Please give more details of which order number you're talking about.

[2020-04-09 23:51] iqoOopi commented on #165
Hey, there
Order Id and number are 2 different property.
![image](https://user-images.githubusercontent.com/46897552/78950050-cc4e9900-7a8a-11ea-969e-1c040d1e7fa0.png)

[2020-04-09 23:53] iqoOopi commented on #165
In most time, we use order number in daily business as it is customlizable.

[2020-04-10 12:24] itsgauravjain22 commented on #165
Ok, that's a major improvement and woocommerce team should look into it. But I'm really confused that I don't see changing order numbers in the admin panel. Is it a custom plugin you used to change the order number.

Screenshots:
[https://nimb.ws/pnyDS9](https://nimb.ws/juXdYO)
[https://nimb.ws/pnyDS9](https://nimb.ws/pnyDS9)

[2020-04-13 07:24] yepMad opened #166 "POST /orders doesn't check stock"
Let's say that two people place the same order and one of them runs out of stock, while the other is still finalizing the purchase.

**WooCommerce.postAsync ('orders /')** does not check whether the stock is greater than zero before posting the order. Getting -1 in the Wordpress panel.

[2020-04-13 13:58] yonish3 opened #167 "API for Create product variation dosent work with Node.js and postman"
Have tried several options and investigated with postman, here is a summary of results:
### On postman:

**Post**: https://mywebsite.com/wp-json/wc/v3/products/1389/variations
**Body**:
[code]
**Resulte**: works well

**Post**: https://mywebsite.com/wp-json/wc/v3/products/1389/variations
**Body**:
[code]
**Resulte**: products variations are created but option and price doesn't get a value. So need

[2020-04-13 15:57] yonish3 commented on #167
Apparently [woocommerce.github.io][1] are referring to [@woocommerce/woocommerce-rest-api][2] NPM package where [docs.woocommerce.com][3] official website refer to [WooCommerce API - Node.js Client][4] NPM package.

Kinda confusing...but that solves the mystery.

  [1]: https://woocommerce.github.io/woocommerce-rest-api-docs/
  [2]: https://www.npmjs.com/package/@woocommerce/woocommerce-rest-api

[2020-04-14 06:37] Babelfisch opened #168 "Sales report returns wrong type for total_refunds"
## Problem ##

In the docu for the sales report properties `total_refunds` is defined as `integer`:

### Sales report properties ###
Attribute | Type | Description
-- | -- | --
total_refunds | integer | Total of refunded orders.

But it returns a unquoted decimal number and not an integer.

### Current result ###

`"total_refunds": 10.5`

## Solution ##

I think `total_refunds` should return a str

[2020-04-16 11:52] kynello opened #169 "Woocommerce Products added via Frontend Page - Sort Price Issue"
Hello,
i can't solve this issue with Woocommerce.

I'm using a Frontend Page to add new products in a simple way (for a shop manager).
Every new product is correctly added but doesn't respect the sort price display (from the lowest to the highest, or vice versa).

So, for example, if the display product order is from the lowest to the highest price, the product added by frontend is displayed as th

[2020-04-17 08:34] itsgauravjain22 opened #170 "Product tax class should return tax class object in get product properties"
The `GET /wp-json/wc/v3/products/<id>` and `GET /wp-json/wc/v3/products` should output selected tax class object instead of only string, containing slug and name. This would prevent calling `GET /wp-json/wc/v3/taxes/classes` repeatedly when fetching product details.

The selected tax object should be similar to the output of `GET /wp-json/wc/v3/taxes/classes` and formatted as product categories ob

[2020-04-21 16:49] #167 closed

[2020-04-22 06:49] andrewchanlg opened #175 "Adding Image through ID not working"
Hi all, I'm trying to add an image to my product through PUT /wp-json/wc/v3/products/792?. Image ID for 403 exist in media gallery
Payload:
{
        "images":[
          {
            "ID":403,
            "position":0
          }
        ]
        }
I kept getting this error:
{
    "code": "woocommerce_product_invalid_image_id",
    "message": "#0 is an invalid image ID.",
    "data": {

[2020-04-23 12:22] steffanhalv opened #174 "Rest API - Order by price"
**Is your feature request related to a problem? Please describe.**
Sort products by price high / low should be possible from the Rest API for headless sites and services. This is a very common feature for most sites..

**Describe the solution you'd like**
Order products using rest api by price high / low

**Describe alternatives you've considered**
Writing a plugin is the only alternative, but tha

[2020-04-23 16:09] cipi79 opened #172 "Addin gtin with woocommerce rest api"
Hi,

I have install Product Feed PRO for WooCommerce plugin which enables gtin field for my products.
In the product edit page I can update or insert this field.

How to do the same with the woocommerce rest api?

I have tried to send meta_data with json but no success?
“meta_data”:[{“value”:”xxxxxxxxxxxxxx”,”key”:”_woosea_gtin”}]

[2020-04-24 13:27] zhatzid opened #173 "WooCommerce Rest api create/update product variation problem"
I am trying to create/update a product variation through rest api and i have a problem.

My product attributes are filled correctly, with options on colour and on size. For example i have these on a product:

“attributes”: [ { “id”: 1, “name”: “χρώμα”, “position”: 0, “visible”: true, “variation”: true, “options”: [ “ΜΠΛΕ” ] }, { “id”: 2, “name”: “μέγεθος”, “position”: 1, “visible”: true, “variatio

[2020-04-27 18:59] rrennick commented on #173
https://github.com/woocommerce/woocommerce-rest-api/issues/173

[2020-04-27 18:59] #173 closed

[2020-04-28 12:14] NielsdeBlaauw opened #177 "Unintended product change on order_item_product with non-unique SKU's"
If multiple products can have the same SKU, updating an order through the WooCommerce API (tested v2, v3 and v4) can unintentionally change products within an order.

## To reproduce:

1. Add filter to `functions.php` `add_filter( 'wc_product_has_unique_sku', '__return_false' );`
2. Create `product 1` with SKU `non-unique`. (product_id example: 1111)
3. Create `product 2` with the same SKU `non-un

[2020-04-29 17:33] steffanhalv opened #178 "Delete custom fees from order"
It is not possible to remove **fee_line** for orders using the API.

For the **line_items** it is possible to set **quantity** to **0** or **product_id** to **null**, but that is not possible with **fee_lines**. I tried to set the whole value of **fee_lines** to null which did not remove anything and also changing total of order to 0 & remove name did not work.

**Endpoint:** wp-json/wc/v3/orders/

[2020-04-29 18:01] steffanhalv opened #179 "Add prices include tax to system_status endpoint"
**Endpoint**: wp-json/wc/v3/system_status

Can you please add **prices_include_tax** to settings or environment?

It would be really helpful for POS systems using the Rest API.

[2020-04-30 16:59] adamradocz opened #180 "Class 'WC_Product_Simple' not found"
Hi,

I got the following error:
`Uncaught Error: Class 'WC_Product_Simple' not found in /var/www/html/wp-content/plugins/woocommerce-rest-api/src/Controllers/Version3/class-wc-rest-products-controller.php on line 311`

Reproduce:
- Clean WP install
- Clone the repo to `wp-content/plugins`
- `compose install` in `wp-content/plugins/woocommerce-rest-api`
- Put the code below at the bottom of the `wo

[2020-05-03 05:12] #180 closed

[2020-05-03 21:51] victormattosvm commented on #123
@itsgauravjain22 have you tried Woocommerce Media API Plugin?

[2020-05-04 16:07] claudiosanches commented on #123
By default we disable our authentication method for other endpoints, but you can enable it using `woocommerce_rest_is_request_to_rest_api`.

With the Media REST API endpoint you can upload any image to WordPress, I recommend you using it before creating products and other objects.
Note that WooCommerce REST API is just a group of endpoints of the WordPress REST API, so it's all the same ecosystem,

[2020-05-04 16:07] #123 closed

[2020-05-04 19:57] murzai opened #181 "using _fields param"
Hi,
I can use _fields with wp-json/wc/v3/products api,
for example,
https://xxx.com/wp-json/wc/v3/products?_fields=id,name
and i get what i want result like that
[
  {
    "id": 21976,
    "name": "KLAVYE SET EVEREST GMK-66 ARMOR COMBO SIYAH USB Q GAMING KB+MOUSE"
  },
  {
    "id": 21975,
    "name": "KLAVYE SET EVEREST EVEREST KMX-99 SIYAH USB GAMING GÖKKUŞAĞI ZEMIN AYDINLATMALI Q TR KB+MOUSE"

[2020-05-05 03:43] edpankau opened #182 "One product no longer returning order results"
For 2 years, I've been using something along the lines of `https://warneravenueelementary.com/wp-json/wc/v2/orders?product=1307&status=completed&after=2019-08-10T00:00:00&orderby=date&order=asc` to retrieve orders for product 1307. Recently, however, that query returns no orders, which is incorrect. Other similar products (e.g., 1370) return orders just fine. Please help!

[2020-05-05 09:20] murzai opened #183 "using _fields param"
Hi,

SORRY DUPLİCATED

Best Regards

[2020-05-05 09:23] #183 closed

[2020-05-08 10:56] zouidi opened #185 "Rest api Price not showing if “Default Form Values” is not set in variable products"
**Description**

Woocommerce rest api return price 0 in variable products **if the ‘Default Form Values’ not set** in product settings

**Expected behavior**

Return the min or max price even if the Default Form Values is not set

**Informations**

WooCommerce version: 4.0.1
WooCommerce REST API package: 1.0.7
WordPress version: 5.3.2

[2020-05-09 21:24] negapo opened #186 "Make the API "Smarter""
Hi, the API design is, overall, fantastically well done.
One thing that is lacking is the ability to pull only incremental changes, like in many API's , we would get a full image of the data that is frequently changed like (Products, Variations, Orders, Notes) on the launch of a program, be it a POS system or a CRM, then we would pull only the incremental changes by filtering by date in the respec

[2020-05-09 21:37] negapo commented on #165
Order number is not part of the REST API, you can check the order properties here [https://woocommerce.github.io/woocommerce-rest-api-docs/#order-properties](url)
That "number" field is being added probably by a plug-in. A dirty trcik would be to append to the "number" the "id" so the number would look like "DF-4498-190504" and then just parse out the latest part to get the order.

[2020-05-12 14:35] fernando-worked opened #189 "Create a new product with new variations through API"
Hello guys, I already check the docs, but no found a corret way to do that.

`{
   "name":"Produto criado via API",
   "sku":"via-api",
   "type":"variable",
   "description":"Um novo produto criado via api",
   "short_description":"Criado API",
   "attributes":[
      {
         "id":"2",
         "slug":"cor",
         "name":"Cor",
         "options":["A definir"],
				 "visible":true,
				 "va

[2020-05-12 14:50] fernando-worked commented on #189
Ok, thank you! I still looking futher for a solution!

[2020-05-13 12:01] fisoi opened #190 "Query strings with multiple values for the same parameter"
**Describe the bug**
When requesting data to the WooComerce REST API with the query string containing multiple values for the same parameter (as in the example below) only the last value of the query is considered.

**To Reproduce**
Make an api call with the following fields: "/wp-json/wc/v2/orders?status=pending&status=processing" and proper basic auth.
Only orders with the status = processing ar

[2020-05-13 16:15] AmandaRiu commented on #9
If already modifying the order detail API endpoint response, would it be possible to include the following updates to the `line_items` for the mobile app? (See p91TBi-2Lt-p2)
- The base name of the product purchased (no selected selected attributes appended)
- Update the selected attributes in `meta_data` to include the attribute label to display
- The product image URL for loading the thumbnail (

[2020-05-13 18:21] fisoi commented on #190
Thank you.

[2020-05-13 19:54] fernando-worked commented on #189
Guys, I need help in this question, somebody please?

tried this `{
   "create":[
      {
         "name":"criado via api",
         "type":"variable",
         "regular_price":"25.00",
         "attributes":[
            {
               "id":"2",
               "slug":"cor",
               "name":"Cor",
               "options":[
                  "A definir"
               ],
               "vi

[2020-05-15 15:42] SolWinArg opened #192 "Wrong generated url get using params (per_page, page)"
**Describe the bug**
When requesting data to the WooComerce REST API with params the generated link is wrongly created.

**To Reproduce**
Make an api call with like this:
WooCommerce.get("products", {
per_page : 99,
page: 1
})... // continues
// Inside the callback...
console.log(response)
// "response" being the list of 99 products in page 1

The url generated is: http://example.com/wp-json/wc/v3

[2020-05-15 15:44] SolWinArg commented on #192
**Update**
Found bug on file 'woocommerce-rest-api/index.js'

![image](https://user-images.githubusercontent.com/44584533/82069525-cfe8c780-96a9-11ea-8d7e-845c3b343d6a.png)

**Fix**
![image](https://user-images.githubusercontent.com/44584533/82069555-d7a86c00-96a9-11ea-8948-70fe9649851e.png)

[2020-05-18 14:18] testapi60 opened #193 "Rest Api unable to authenticate"
<img width="824" alt="Screenshot 2020-05-18 at 7 43 07 PM" src="https://user-images.githubusercontent.com/65539040/82223239-0770a180-9940-11ea-8346-46297b3572f9.png">
I have used http and https on basic and oauth1.
my credentials are also 100% correct.
<img width="821" alt="Screenshot 2020-05-18 at 7 47 34 PM" src="https://user-images.githubusercontent.com/65539040/82223593-7948eb00-9940-11ea-85f2

[2020-05-18 14:48] lcs-prbnc commented on #37
I landed here, coming from an issue posted in 2017.
Can't believe the feature is not implemented yet :-1:

[2020-05-20 07:00] kalimfolio opened #194 "WooCommerce Rest API delete customer permanently multi-site?"
I am trying to delete customer using WooCommerce delete customer API on my multi store, customer is being removed from the particular site/blog, but not being deleted permanently from DB.

is there any way to delete customers permanently?

[2020-05-21 05:26] kalimfolio opened #195 "WooCommerce Rest API delete customer permanently multi-site?"
I am trying to delete customer using WooCommerce delete customer API on my multi store, customer is being removed from the particular site/blog, but not being deleted permanently from DB.

is there any way to delete customers permanently?

[2020-05-21 20:18] Jeroenleender commented on #142
The orders endpoint is indeed incomplete, a (partial) refund is always a new transaction with it's own date, i can even imagine that in some cases a refund can even be done to someone else and not the originating customer.

So to prevent every possible issue from shopowner/bookkeeper perspective, i would like to suggest to make a new refund order as  type 'shop_order' instead of type 'shop_order_r

[2020-05-22 09:39] masosky opened #196 "Query params not passed when using "rest_route" option"
Hi,
I tried to reach the Woocommerce API through http://localhost/wp-json/wc/v2 but I had to use the "rest_route" options because the "wp-json" endpoint is not available.
The problem is the following, I need to access to this URL:
http://localhost:3007/index.php?rest_route=/wc/v2/product and pass some query parameters
for example:
http://localhost:3007/index.php?rest_route=/wc/v2/product?a=1
if I

[2020-05-22 13:56] hicreate opened #197 "Retrieve customer returns response code 200 even with no customer"
Hi,

Is there any way to add a 404 response code for not found customers? At present if I make a GET request to find a specific customer it returns 200 with an empty data property on the response, whilst I believe better practice would be to return a 404 for alignment with data validation practices.

Thanks

[2020-05-22 21:06] ayazzz opened #198 "[Question]: Rest API store object filter"
Hello,
I am trying to help a client of mine to pull orders data via rest api.
They have 1 site for 4 different brands. Each store has it's id and some information related to the store.
As you can see in the screenshot, the orders endpoint returns regular data and "store" information as well.

Is there a way to filter the orders by stores on API call?
I already tried with query strings like "store.

[2020-05-22 22:58] Codeia commented on #136
any idea how to solve this?

[2020-05-22 23:00] Codeia opened #199 "Getting error `rest_invalid_param` when updating quantity with decimals"
This issue doesn't seem to have any official discussion. I'm building a React JS app to process orders from WooCommerce using the official REST API. After I process the order I send the following payload:

`{ product_id: 122, quantity: 0.5 }`

But this results with the following error:

`line_items[1][quantity] is not of type integer.`

Not really sure how to proceed from here, I found nothing on

[2020-05-22 23:32] Codeia commented on #199
Looking at the API Docs, it seem that `quantity` is expected to be `integer`.
Working for the past 2 weeks hardcore, on an app which now can never be alive. Great lol

[2020-05-24 06:44] neerajnegidev opened #202 "API's Response Time"
Can we use some Caching technique to make API response faster may be redis.

[2020-05-25 04:08] hqin2013 opened #200 "many “images” will cause same SKU product"
Hey,

I found a problem when using WC-rest-API.

when creating a variable product, if this product has **many images in "images" field** ( these images are creating very low), then Woocommerce  will generate more than one product  -- **with **same SKU****

any suggestion?!

Regards
Qin

[2020-05-25 14:55] hicreate opened #201 "Coupons are ignoring query params"
If I retrieve a coupon using /coupons?code=sometexthere the get request ignores the query params and just returns all coupons - is this intended and if not can we implement search by query params so that I can pass a code to the end point and retrieve just the coupon associated?

[2020-05-26 10:52] relevanzz commented on #196
Nice, now the bug remains in the right place

[2020-05-26 12:18] cl-nkf opened #203 "WC Booking API allow GET requests on bookings without auth"
For instance when I curl my bookings endpoint I can retrieve all of the bookings of my site without any api key and secret. Is there a way to remove this behavior?

Thanks

[2020-05-26 21:08] Jake-Convictional commented on #127
Currently trying to deal with this as well. These quantities aren't useful without the corresponding dimensions. Also not sure why `weight_unit` and `dimension_unit` aren't included in the `GET /` request, as [the docs](https://woocommerce.github.io/woocommerce-rest-api-docs/v1.html#endpoints) imply that they should be there.

It seems like the workaround to use for now is to call `OPTIONS /wp-jso

[2020-05-27 09:38] hqin2013 opened #204 "401 Sorry, you are not allowed to edit this resource."
Hey,

I tried to use CURL to operate woocommerce, Get is OK, but post/put will get `401 error：Sorry, you are not allowed to edit this resource.
`
The same key/secret work for the PHP  code, I can modify the data in WooCommerce.

tried to modify .htaccess file to allow HTTP author, but no effect.

any help?!

Regards
Qin

[2020-05-27 15:00] helgatheviking commented on #198
@ayazzz While not an expert in the API, I think you can filter the object query here:
https://github.com/woocommerce/woocommerce-rest-api/blob/6e146038e11327324a7e8dc94fd204063868a24e/src/Controllers/Version3/class-wc-rest-crud-controller.php#L314

[2020-05-30 01:29] mooka-ventures opened #205 "Add pagination parameters to GET endpoint /wp-json/wc/v3/customers/<id>/downloads"
* Retrieve-Customer-Downloads endpoint - https://woocommerce.github.io/woocommerce-rest-api-docs/#retrieve-customer-downloads

Right now this endpoint does not have pagination like how Orders, Customers endpoint has.

It would be nice to add parameters like "search", "page", "per_page", "orderby".

[2020-06-04 10:15] lucidjay commented on #37
Cannot believe that such a basic feature that has been continuously requested by the community over the past 3 year and it is STILL not implemented...

[2020-06-04 19:49] claudiosanches commented on #37
We are considering this feature and it will get introduced in the next version of the REST API.

[2020-06-04 22:07] Soufiane21 opened #207 "“Shipping Class” not updating with put request."
developers,

I am working on a script to update the shipping class of a specific product in WooCommerce. But it won't update the shipping class. I use the WooCommerce REST API v3. I do not understand what I am doing wrong here. Is this a bug?

This is my code:

[code]
However, changing other properties like the stock 'stock_quantity' works fine?

[code]

[2020-06-04 23:00] TolchinJ opened #208 "Customer.GetAll is not returning all customers"
When I call Customer.GetAll, I get a whole lot of customers.  Then I do an Order.GetAll and import those.  But when I check the Customer ID from Orders against the Customer ID from Customers, I have a lot that are missing.  When I enter a specific customer Id that is missing, they come up. (e.g. wc.Customer.Get(CustomerID))
likewise, without the wrapper:
https://www.url.com/wp-json/wc/v3/customers

[2020-06-05 17:22] Soufiane21 commented on #207
Thank you, in the meantime I found the problem. It is not a bug. Updating the shipping class works as follows:

 $data = ['shipping_class' => 'TAG_HERE'];
 $woocommerce->put('products/'.$product->id, $data);

Thank you.

[2020-06-05 17:22] #207 closed

[2020-06-08 22:57] federicotortora opened #209 "knowing if a category has subcategories or product"
is there a way to know if a category has subcategories or has a product directly under it without getting all the products from that category first?

[2020-06-09 20:34] rkbjunior opened #210 "Allow setting and modification of user roles"
The WordPress API allows setting/updating user roles, but the woocommerce rest api has the roles field as read only.

I suggest that the woocommerce rest api be modified to allow the the user roles field to be set/updated.

[2020-06-11 08:43] cipiloosh opened #211 "Woocomerce API - Does't return all the categories"
Hi,
I use woocommerce-rest-api and and I have a problem when I'm trying to get the categories.

const categories = await api.get("products/categories");

It returns only some categories, not all the categories.

Any ideea?
Thanks!

[2020-06-11 08:54] cipiloosh commented on #209
You can check if there are any categories with parent.

[code]

[2020-06-12 16:36] AngelT91 opened #213 "api woocomerce woocommerce_rest_authentication_error"
Hello how are you?

I hope you can help me I am having problems trying to use the api woocomerce, when I want to make a query about my products I get this error

http://papeleriazaragoza.mx/img/img-1.png

http://papeleriazaragoza.mx/img/img-2.png

I already tried the following settings in the .htaccess file

<IfModule mod_rewrite.c>
#METALOCATOR: This line added to allow basic authentication under

[2020-06-15 20:28] shiki commented on #9
Hi @claudiosanches! I'm gonna take a crack at this.

Do you have some quick pointers? 🙂

[2020-06-16 13:46] scchethu opened #214 "Rest Api auth using username and password"
Facing a problem with mobile app integration because of authentication not available.

[2020-06-22 16:17] tahafarooqui opened #215 "REST API: Delete All the variations"
This idea has been discussed since 5 years but unfortunately this feature is still not available.  Is it possible to use **all**  or any other parameter to delete all variants using rest API.

[code]

[2020-06-29 18:01] MariuszKogut commented on #21
I came across the same issue and was searching for hours to find the reason why the coupon_lines where deleted after doing a simple HTTP PUT. I guess it's a kind of bug because the server response is HTTP 200, which indicates that everything is ok on the backend. In my point of view it's definitely not ok, because the applied coupons are deleted afterwards.

[2020-06-30 05:50] mnaeem76 opened #216 "Unable to do refunds on per line item basis via RESP API."
When creating refunds from within WooCommerce , the refund line items represent itemized refunds giving a snapshot how much quantity, amount and tax was refunded. However, the REST API does not seem to support this. The documentation shows only a lump-sum amount can be refunded.

Is there a way itemized refunds can be created using the REST API as well? If not are there any future plans to support

[2020-07-01 13:35] Konamiman commented on #99
Hi @larssn, I've been looking at this issue and indeed the REST API documentation for the create refund endpoint is inconsistent with how the endpoint actually works. So either the documentation should be updated, or the REST API code should be modified to act as the documentation says.

That said, and in order to unblock you for the time being, I can say that you got very close to find a solution

[2020-07-01 13:36] Konamiman commented on #99
Related pull request for reference: https://github.com/woocommerce/woocommerce/pull/25519

[2020-07-03 23:23] DarkxNess opened #218 "low_stock_amount attribute"
i need help with the Low stock threshold parametters, is he available in the woo api?

[2020-07-06 03:27] mooka-ventures commented on #205
we developed a custom endpoint with the extra parameters.

[2020-07-06 03:27] #205 closed

[2020-07-06 06:57] waqaramjad commented on #132
issue solved, that issue is related to my domain hosting which creating issue

[2020-07-06 06:57] waqaramjad commented on #132
issue solved, that issue is related to my domain hosting which creating issue

[2020-07-06 06:57] #132 closed

[2020-07-06 11:35] ivandjordjevic opened #217 "List all completed orders using Before and After date-time parameter?"
We do have a requirement  to get all orders from woocommerce that are in status Completed. To avoid getting the full list of all completed orders with each HTTP request, out Get requests are always using Before/After parameters. Idea is that with each request to only get the list of new completed orders from the last call.

Example is that with first call at [SyncDateTime] I'm getting orders with

[2020-07-07 11:36] ivandjordjevic commented on #217
Any ideas?

[2020-07-10 21:11] alondrasansan opened #219 "Create new product ~ 400: Invalid or duplicated SKU"
Hi everyone!

I'm having problems creating new products in two stores in WooCommerce, I send the request and the response is "Invalid or duplicated SKU", and status code 400. However, the product is created, after the petition I can see the product in the stores with the correct information.

I tried to delete the products, and then clear transients, but the issue is always the same.

Please, any

[2020-07-11 10:15] falahati commented on #99
The fact that the request is different from the response you get from this endpoint is very confusing, to say the least. Please consider changing the API itself instead of adding a disclaimer to the documentation.

That being said, I also suggest finding the line id via the `product_id` when not available. This can simply a lot of code. Sometimes you simply don't know the line id of a product in a

[2020-07-13 17:35] thd-fox opened #220 "REST API /wc/store/cart* endpoint documentation needed - Headless WooCommerce"
I searched for a long time on the internet and also here in the existing issues.
Though I found nothing about the cart rest endpoint.
I'm going to build a headless WooCommerce client.
I'm running against various errors that I need to get rid of by reverse engineering the woocommerce code.

I found a plugin that provides a payed solution but I don't want to rely on it as there are obvious bugs foun

[2020-07-13 18:58] thd-fox commented on #220
@juliaamosova as you can see there is in fact a reachable cart endpoint:
[code]
which gives me the following answer:
[code]
I suppose you use it for gutenberg blocks. I'd need to know the right nonce header name.
If one could just document this endpoint as is already exists would be awesome :)

[2020-07-15 09:17] pixelschupser opened #222 "Modify WC_REST_Products_V2_Controller->prepare_object_for_database()"
Heyo,

is there a way to modify "WC_REST_Products_V2_Controller->prepare_object_for_database()" because i have to change the way it identifies the "Product categories".

[2020-07-15 14:51] martenwallewein opened #223 "customer meta_data is merged into customer via `wooCommerceApi.post('customers/batch', ...)`"
Hey all,

I've ran into an issue where we set meta_data in `wooCommerceApi.post('customers/batch', ...)` to edit meta_data of a customer. The problem is, that after setting the following meta_data, the `id` of the respective customer was overwritten.

Please consider the following example. We created a customer without meta_data and got one with id `123`. Then we update this one with the meta_data

[2020-07-15 15:11] martenwallewein commented on #223
We use the api version `wc/v3` and `@woocommerce/woocommerce-rest-api` in version 1.0.1

[2020-07-16 16:16] larssn commented on #99
I vote for updating the docs, as we already have code using this API... unofficial or not.

[2020-07-17 09:31] Chouby opened #224 "Doing it wrong notices sent with WordPress 5.5"
WooCommerce 4.3
WordPress 5.5-beta2

I am creating a simple order with phpunit:

[code]
This raises 2 unexpected incorrect usage notice for `rest_validate_value_from_schema` and `rest_sanitize_value_from_schema`.

[2020-07-19 07:55] androidcode33 commented on #37
This worked for me. With Woo 4.0.x / API v3.

[add_filter('woocommerce_rest_orders_prepare_object_query', function(array $args, \WP_REST_Request $request) {
    $modified_after = $request->get_param('modified_after');

    if (!$modified_after) {
        return $args;
    }

    $args['date_query'][0]['column'] = 'post_modified';
    $args['date_query'][0]['after']  = $modified_after;

    return

[2020-07-31 01:04] HammerOz commented on #219
I experienced this last week as well.

[2020-07-31 01:06] HammerOz commented on #197
This is the same for a product. I agree

[2020-07-31 01:18] HammerOz opened #228 "Get product with sku parameter not returning result"
https://mysite.com/wp-json/wc/v3/products?sku=product-sku-1

If a product has recently been created by the api, this request will often not return a product for the sku of that product. I also note this returns a 200 response even if not results. Is this response appropriate?

I have turned caching off on the site in question and that seem to resolve the issue.

Example request not returning an re

[2020-07-31 09:09] Finalgamer14 opened #230 "Problem getting and editing products"
This recently started happening. Following the documentation for how to use the REST API, using a key that was generated for administrator user doesn't work any more.
So before using this curl command:
`curl https://example.com/wp-json/wc/v3/products -u ck_123:cs_asd `
Here I changed the url to example.com, also changed ck & cs for security reasons, I made sure that they are correct in the command

[2020-07-31 11:57] Finalgamer14 commented on #230
So I figured out what was problem from our side ... now I still have no clue how this broke in the first place.
But to make it work for us I added:
`query_string_auth=True`
In the python script, so from what I understand our server isn't properly parsing the Authorization header, no clue how this part changed, could be that some other plugin after update changed the .htaccess.

[2020-07-31 11:57] #230 closed

[2020-08-05 21:27] sbc640964 opened #233 "return 401"
I do what appears in these tutorials
https://docs.woocommerce.com/document/woocommerce-rest-api/
https://github.com/woocommerce/woocommerce/wiki/Getting-started-with-the-REST-API

i sent the keys on the headers or on params
and still return 401.

I check at three sites and everyone return 401

What about it?

[2020-08-06 12:22] peterfabian commented on #220
Hi,

the store API is being developed by the Blocks team in https://github.com/woocommerce/woocommerce-gutenberg-products-block. As it's currently under development for Cart and Checkout, it's not stable yet, and thus not entirely public, and not documented yet. If you want to check how to use it, please have a look at Cart and Checkout blocks.

However, once we reach maturity with the API, we pla

[2020-08-06 12:22] #220 closed

[2020-08-06 19:13] hammadtariq98 opened #234 "Add To Cart"
I create a react app and now I want to my product  Add to cart on a click that click is in my react app and I use it as an iframe on the single product page (react app is used for to add additional information to product ) in woocommerce rest API there is no API that can update a cart and now I have no idea how to do. I am stuck with it. plz, help!

[2020-08-07 15:29] vyrzdev commented on #199
There's a functions.php patch for it, I am using it now, if you can't find it on google reply and I'll send you it.

You just have to override the model with one where it's expected as decimal.

:)

[2020-08-11 08:49] thearyanahmed opened #235 "Unable to DELETE product using REST api v3"
Here is my code
[code]

I receive `JSON ERROR` *vendor/automattic/woocommerce/src/WooCommerce/HttpClient/HttpClient.php* on line 375.

I've dumped the response

![image](https://user-images.githubusercontent.com/20617352/89877179-88f36b00-dbe1-11ea-99be-7c1132b3518b.png)

It's text/html. Using the official woocommerce-rest-api. Following the docs from [woocommerce-rest-api-docs](https://woocommerc

[2020-08-11 13:04] vedanshujain commented on #22
Closing this as part of repository maintainence, but feel free to post back if there are any additional comments.

[2020-08-11 13:04] #22 closed

[2020-08-11 13:27] vedanshujain commented on #8
I am cleaning up this repository issues happened upon this issue, apologies for the year late reply.

As far as I can see you are using the correct syntax and its working for me in my local testing, so I am guessing something else might have been an issue (perhaps a plugin conflict?). I am closing the issue but feel free to write back if you have additional comments.

[2020-08-11 13:27] #8 closed

[2020-08-11 16:24] vedanshujain commented on #11
From your example, `Media > CD` category and a top-level `CD` are actually different. In the current versions of API, this is enforced in the way of only accepting category ID as a param. It's a bit cumbersome than just sending Category text via a param, but because of this its also harder to make mistakes and creating unwanted categories while importing.

Because of the above, I am closing this i

[2020-08-11 16:24] #11 closed

[2020-08-11 16:44] vedanshujain commented on #12
The requirement of knowing the exact product attribute is intended because you can have a product level attribute as well as a global level attribute which may be different. So if you want to link a global attribute, then it does make sense to have attribute ID as a requirement. I am closing this issue, but feel free to write back if you have questions.

[2020-08-11 16:44] #12 closed

[2020-08-11 16:45] vedanshujain commented on #16
Seems like this fixed now. Closing.

[2020-08-11 16:45] #16 closed

[2020-08-11 16:55] vedanshujain commented on #20
You can already use https://github.com/woocommerce/wc-api-php or directly instantiate controllers' objects and call methods on them. That said, I would still recommend using proper WC functions instead because controllers as of now also do a lot of request logic, so may not be trivial to adapt for direct use.
It's in our long term plan to refactor methods that will called by controller and can be

[2020-08-11 16:55] #20 closed

[2020-08-11 17:04] vedanshujain commented on #25
Closing as per the response of @glutaminefree . Feel free to write back if that header does not work.

[2020-08-11 17:04] #25 closed

[2020-08-11 17:31] vedanshujain commented on #38
This is supported by using `sku` param to filter the product list. For egs, if you'd like to get a product with sku `test_123` the request can be written like so:
`/wp-json/wc/v3/products?sku=pro-123`

Similarly `sku` filter is also supported for product variations as well. However, you would still need to do at least one request with `sku` filter to get product id, then another to get to the vari

[2020-08-12 09:30] ThiagoFazzi opened #236 "Authenticating against WooCommerce API with customer usernamer/Password"
We are re-building an Easy Order Wordpress plugin with VueJs, that uses WooCommerce REST API.

Current flow: The customer go to the website and do a login with email/password, with the login done, the user can go to 'Easy Order' link to access the plugin and then the user get all products categories, subcategories and products. the user can add/remove products into his cart.

What we are trying to

[2020-08-12 20:08] ksholomov opened #237 "Fixing compatibility had broken API requests"
https://github.com/woocommerce/woocommerce-rest-api/commit/efd2e62c63903661fc9f5f932bfb99f19ff8f822
You had changed validation rules from mixed to nullable string and my app stopped working. Before that commit integers and arrays were accepted. Why do you change so important logic?? It took me 5 hours to find that problem code!

[2020-08-13 13:59] slishard opened #240 "REST API price response"
Hello guys,

I have one issue with REST API response due to accounting software. The software reads .json response with basic auth over HTTPS but only gets the price without Taxes. I need the response with _price tax included_ in parameter **price** for the product. The same issue is with a shipping price passed with the parameter **total**. I have adjusted all the parameters in WooCommerce which

[2020-08-13 14:50] redelschaap commented on #237
I see also issues with the latest version of WooCommerce and its API.

For sites that use WooCommerce 4.3.2 with API package version 1.0.10, we can't update the sales price dates anymore. We get the following response:

[code]

[2020-08-13 16:24] vedanshujain commented on #237
This is being tracked and fixed in https://github.com/woocommerce/woocommerce/issues/27282 . We are planning a fix release this week to address the issue.

[2020-08-13 16:24] #237 closed, assigned to nobody

[2020-08-13 21:46] alondrasansan commented on #219
That's a shame,

And I think nobody knows how to fix it... :(

[2020-08-17 19:44] vedanshujain commented on #75
Hi @erikdemarco , apologies for the late reply. I guess you would have moved on by now from this problem, but for any future readers, metadata can be deleted by passing null in the meta vlaue like so:
[code]

[2020-08-17 19:44] #75 closed

[2020-08-17 19:45] vedanshujain commented on #78
Closing as above comment correctly answers the questions.

[2020-08-17 19:45] #78 closed

[2020-08-17 19:48] vedanshujain commented on #92
We need to update the docs to mention the exact behavior, but seems like changing it will be backward incompatible.

[2020-08-17 19:57] vedanshujain commented on #97
If the customer has purchased the item then the quantity will be reduced in real-time. Tag API shows the published product with that tag, whether out of stock or not. So I would say you should use the Product endpoint instead of the tag endpoint to get more realtime data.
(I am closing the issue since its pretty stale, but feel free to write back and we will reopen it.)

[2020-08-17 19:57] #97 closed

[2020-08-18 04:25] Vliesie commented on #97
Almost 6 months to respond to a "stale" question and frankly your response is stale :)  u can close this. Again I've long ago found ways around this horrid api

[2020-08-18 04:29] #160 closed

[2020-09-02 08:56] vedanshujain commented on #126
Supporting this out of the box is not possible because there is no currency property associated with the product. Multi-currency plugins can implement currency properties in different ways that WC core would not have any knowledge about so we can easily end up sending incorrect data. I am closing this issue but write back if I am missing something.

[2020-09-02 08:56] #126 closed

[2020-09-02 11:21] vedanshujain commented on #127
Hi, unfortunately, we won't be adding dimension units in products API call because its technically not the property of the product, but of the entire store. You can get the exact unit with options from `/wp-json/wc/v3/settings/products` API call.

[2020-09-02 11:21] #127 closed

[2020-09-02 11:22] vedanshujain commented on #128
I am closing this issue as part of the repo maintenance, but feel free to comment back if this is not resolved. Thanks!

[2020-09-02 11:22] #128 closed

[2020-09-02 11:24] vedanshujain commented on #129
You can use [Webhook](https://docs.woocommerce.com/document/webhooks/) for this purpose, although it may require some customization to parse the response on the client-side.

[2020-09-02 11:24] #129 closed

[2020-09-02 11:25] vedanshujain commented on #130
I am closing this issue as part of the repo maintenance, but feel free to write back if you have any additional comments.

[2020-09-02 11:25] #130 closed

[2020-09-02 11:48] vedanshujain commented on #131
Apologies for the late reply, you might have already moved on from this, but for future readers, WooCommerce uses the timezone setting provided by WordPress. You can fetch it in the WP API. GET `/wp-json` and look for `gmt_offset` parameter.

[2020-09-02 11:48] #131 closed

[2020-09-02 11:55] vedanshujain commented on #133
Hi, you can achieve this using [Retrieve orders total endpoint](https://woocommerce.github.io/woocommerce-rest-api-docs/#retrieve-orders-totals). (also, apologies for late reply)

[2020-09-02 11:55] #133 closed

[2020-09-02 12:15] vedanshujain commented on #136
I tried using `wp-json/wc/v2/products/categories?parent=0` and the filter worked for me correctly. Its been a while so perhaps it was fixed in an interim version, are you still seeing this issue? If so can you please tell which version of WC you are using?

[2020-09-02 12:17] vedanshujain commented on #141
Closing this issue as we don't yet support fetching products publicly from the API, and seems like conversation has been moved elsewhere.

[2020-09-02 12:17] #141 closed

[2020-09-02 12:21] vedanshujain commented on #142
Refunds are already saved as separate post type, so theoretically it shouldn't be too much effort to support a dedicated endpoint. Marking this as an enhancement.

[2020-09-02 12:30] vedanshujain commented on #143
I guess you would have figured out by now, but basically its because the status of this product is `importing` which is an unknown status type for WooCommerce. So by default, we return all products with unknown statuses in API response. I guess this product was being imported but the process died/killed unexpectedly.

[2020-09-02 12:30] #143 closed

[2020-09-02 12:38] vedanshujain commented on #144
Closing because this was handled in the mentioned extension. Overriding API fields is already a bit hard, so anyone overriding does know what they are doing. I would recommend to add another field in API instead of price, but that's something extension owner will take decision on.

[2020-09-02 12:38] #144 closed

[2020-09-02 12:46] vedanshujain commented on #146
Unfortunately, to ignore the HTML entity here means we won't be able to use the SQL's sorting feature which will be prohibitively slow to implement.

That said, a workaround is to order by `slug` instead of title, which already strips HTML entities before saving. I am closing because of suggested workaround, and inability to implement without paying heavy performance penalties.

[2020-09-02 12:46] #146 closed

[2020-09-02 13:16] vedanshujain commented on #147
I am not able to reproduce this but based on the stack trace, it looks like frontend libraries are getting loaded in API requests for some reason. Do you have any code snippet or anything else that might cause this?

That said, we can add a protection check to get from session only if its initialized.

[2020-09-04 12:59] jmawebtech opened #241 "WooCommerce Fails to Recognize Timezone"
Hi,

Error: When querying orders in UTC time, WooCommerce fails to recognize the timezone. I am sending UTC time, but WooCommerce uses its own timezone instead. I notice this issue fails to happen on newer websites.

Steps to reproduce:

Here is the site:

https://www.idscad.com/wc-api/v3

store": {
"name": "IDS CAD",
"description": "Digital Artistry",
"URL": "https://www.idscad.com",
"wc_version"

[2020-09-05 14:26] salimsaid opened #242 "Product Request Error : woocommerce_product_image_upload_error:Error getting remote image"
Am calling the api to import products into my store, woocommerce returns the following error

![shopmaster error forbidden](https://user-images.githubusercontent.com/5766809/92307144-d70b4c80-ef9c-11ea-82f1-b8c2c33fb6c6.PNG)
![shopmaster not found](https://user-images.githubusercontent.com/5766809/92307146-d8d51000-ef9c-11ea-9c1a-89843752174d.PNG)

What could i be missing ? My vps is not blocking

[2020-09-08 01:59] reason8910 commented on #37
@androidcode33 Would this function be able to filter products by date_modified?
What changes would have to be made. Thanks

[2020-09-08 04:06] androidcode33 commented on #37
@reason8910 No need to do any other changes.

Let me know if it works for you or any other inquiries.

thanks

[2020-09-08 04:16] reason8910 commented on #37
Wouldn't I need to change this line: woocommerce_rest_orders_prepare_object_query to woocommerce_rest_products_prepare_object_query

[2020-09-08 05:00] reason8910 commented on #37
@androidcode33
Ive tried woocommerce_rest_orders_prepare_object_query with query: https://yds.com.au/wp-json/wc/v3/products?modified_after=2020-09-09T14:00:00 but it does not filter.

[2020-09-08 12:43] androidcode33 commented on #37
@reason8910 this worked for me on orders. I haven't tested it with products.

[2020-09-14 20:25] mirco261 opened #243 "ERROR 502 Bad Request"
Hi,
sometimes when I try to make api call, like download products:
`GET /wp-json/wc/v3/products?per_page=100&page=28`

I get error 502 bad gateway

sometimes GET 1-30 pages return all fine, but sometimes (2-3rd run) I've got 502 bad gateway error

Response Headers
[code]
Do you have any idea?

Woocommerce 4.5.2
Wordpress 5.5.1
PHP on server 7.4.8   (7.3.20 tested too and same result)

I've tried d

[2020-09-17 07:02] pradeepgadiya opened #244 "Create product api issue in title if i am using & in title"
i want to create a product through API and using in title & sign like shoes & sandals .
title proper showing all product listing but once i open this product i was showing title in decode form like this shoes & sandals.
I want my title like this shoes & sandals.

can you please suggest me how can i use & symbol in api?
Thanks

[2020-09-25 14:34] thivapraba opened #245 "Update the order status, error 404 is appearing"
I am trying to update the order status through Woocommerce REST API but i egt 404 error and could not archieve this even via Postman.
I am using Axios to perform request in VUE.js.
I could not realize in which part I am doing wrong.

This is my request
` axios.put('https://staging/wp-json/wc/v3/orders/1977/consumer_key=123&consumer_secret=456', {status: "completed"});`

Any suggestions please...

[2020-09-28 09:36] davidprifti commented on #164
That is not the correct format that is needed. The correct ISO8601 format is like this 2020-09-28T09:32:32 where you have to add the time as well.

[2020-10-07 15:50] Dave-Nandwa commented on #80
Hi @fabioquarantini ,

Trying to get an attribute pa_color and pa_thumbnail, with your code, please help.

[2020-10-09 00:49] #185 closed

[2020-10-09 07:56] fabioquarantini commented on #80
@Dave-Nandwa How can I help you?

[2020-10-10 01:46] Dave-Nandwa commented on #80
@fabioquarantini thanks for replying. I'm trying to add the hex color value (for example, #fe1718) that's part of the pa_color attribute term to the payload as well but all I'm getting back is the term object without the hex color code. Would you know how to solve this?

[2020-10-12 10:02] fabioquarantini commented on #80
@Dave-Nandwa Can you share me the sample code of what you are trying to do?

[2020-10-15 09:09] vedanshujain commented on #9
Closing since https://github.com/woocommerce/woocommerce/pull/27492 is now merged

[2020-10-15 09:09] #9 closed

[2020-10-15 09:17] vedanshujain commented on #148
I am closing this issue since the WP core is planning on an [Application Password](https://make.wordpress.org/core/2020/09/23/proposal-rest-api-authentication-application-passwords/) approach. When it lands into the core, we will evaluate authenticating WC with it, which should solve this issue.

[2020-10-15 09:17] #148 closed

[2020-10-15 10:02] vedanshujain commented on #149
I was able to register a taxonomy as you suggest in the code and see the API reponse on it after removing the `'rest_controller_class' => 'WC_REST_Products_Controller'` argument. Note that using WC_REST_Products_Controller won't do anything on its own, it seems like you want to use something like [categories](https://woocommerce.github.io/woocommerce-rest-api-docs/#product-categories).

I am closi

[2020-10-15 10:02] #149 closed

[2020-10-15 10:08] vedanshujain commented on #150
I was able to create a product using the API and the data that you mention in the issue. Are you still facing this problem? I am closing the issue as part of general maintainence, but feel free to comment back if you are still facing an issue, along with details like WooCommerce version, exact response data, error details (if any) etc to help us debug.

[2020-10-15 10:08] #150 closed

[2020-10-15 10:16] vedanshujain commented on #151
`woocommerce_rest_prepare_X_object` is only for modifying the object response and cannot handle the deletion of the object. This is because by the time we reach this filter, other calculations like total pages, the number of objects on the current page, etc are already done and cannot be modified. Adding an `is_empty` check will cause these calculations to be incorrect.

If you'd like to exclude a

[2020-10-15 10:16] #151 closed

[2020-10-15 10:24] vedanshujain commented on #153
You can use `column` parameter along with `after` to filter on modified, for example:

`wc/v3/products?consumer_key=xxxx&cs_secret=xxxx&after=2020-09-30T10:06:59&column=modified`

[2020-10-15 10:24] #153 closed

[2020-10-15 10:27] vedanshujain commented on #154
@itsgauravjain22 Thanks for the enhancement request, this is something we are evaluating, but at this point, I don't think we can say if or when we would develop/release this feature in WC core. That said, do keep an eye on our [development block](https://developer.woocommerce.com/) in case we do release similar feature.

[2020-10-15 10:27] #154 closed

[2020-10-15 10:29] vedanshujain commented on #156
Closing this issue as part of general maintainence, as no details have been provided and issue has not been responded to in quite a while.

If you are still facing a problem, please open an issue in [WC core](https://github.com/woocommerce/woocommerce) repo and fill out the issue template.

[2020-10-15 10:29] #156 closed

[2020-10-15 10:31] vedanshujain commented on #164
Closing as part of general repo maintainence. The response above should solve the issue, correct format also includes time.

[2020-10-15 10:31] #164 closed

[2020-10-15 10:33] vedanshujain commented on #165
Closing this issue as part of general maintainence. As reponses states above, the order number is not part of standard API and is likely added by a plugin, so we won't be able to support filtering on this parameter in core.

[2020-10-15 10:33] #165 closed

[2020-10-15 10:47] vedanshujain commented on #166
Currently, we do not have a checkout API, and the orders API intentionally does not check before posting the order because it's usually used by backoffice. If you are using it to power frontend and creating orders for customers, then I'd recommend that you use `woocommerce_rest_pre_insert_order_object` (search for `woocommerce_rest_pre_insert_{$this->post_type}_object` in codebase for arguments) a

[2020-10-15 10:47] #166 closed

[2020-10-16 11:49] vedanshujain commented on #168
We won't be able to change the format from integer to string as that would be a breaking change, however, we are going to update it to `number` to accurately reflect the response type.

[2020-10-16 12:07] vedanshujain commented on #169
Hi there,
Apologies for the late reply on this, but looks like this is not a WooCommerce core functionality and therefore won't be able to provide support for the issue. Perhaps asking in the [Booster for Woocommerce Plugin's support forums](https://wordpress.org/plugins/woocommerce-jetpack/) will be a better idea.

[2020-10-16 12:07] #169 closed

[2020-10-16 12:20] vedanshujain commented on #170
Fetching the name of the class needs a database call, and so we won't be able to implement this enhancement anytime soon.  The reasoning behind it is that generally a store will have very few tax classes and will be updated very rarely, and therefore it's feasible to make a call once to List all classes endpoint (/wp-json/wc/v3/taxes/classes) and store them on the client side for referencing and g

[2020-10-16 12:20] #170 closed

[2020-10-16 12:24] vedanshujain commented on #172
The data format that you specify should work, and will correctly add the metadata for the product (assuming this is wrapped properly in a JSON body with a product ID). We won't be able to help further as this is a custom plugin and the actual plugin authors of Product Feed PRO will have better expertise to answer and confirm if that's what you need to do to add gtin field for your products.

[2020-10-16 12:24] #172 closed

[2020-10-16 12:38] vedanshujain commented on #174
With API V3, we do support sorting by price, use the API like so `wp-json/wc/v3/products?orderby=price&order=desc`. Note that in case of variable or grouped product, we will take variation with max price when sort order is DESC and min price when sort order is ASC.

[2020-10-16 12:38] #174 closed

[2020-10-16 12:57] vedanshujain commented on #175
Looks like there are a couple of issues with the API request:
`ID` should be `id`
`position` arguement is not supported.

So the payload should be:
[code]
(I realise that its pretty late and you would have moved on from this issue, but answering in case someone else face the same problem and lands up on this issue.)

[2020-10-16 12:57] #175 closed

[2020-10-16 13:16] vedanshujain commented on #177
I think we can do both of these together. It does make sense to disregard SKU if it's not guranteed to be unique, and also to prioritize ID if that is the case. So flow could be:
Check if SKU exists && Check if SKU is unique ? Use SKU : Check if ID exist ? Use ID : Throw Error("Non unique SKU")

[2020-10-16 13:42] vedanshujain commented on #178
You can remove a fee line by setting the name to `null` like so in a PUT request:
[code]
Thanks for raising the issue, we are adding this into documentation to make this more clearer https://github.com/woocommerce/woocommerce-rest-api-docs/pull/181

[2020-10-16 13:42] #178 closed

[2020-10-16 13:45] vedanshujain commented on #179
This setting is available in settings endpoint in `wp-json/wc/v3/settings/tax/` under id `woocommerce_prices_include_tax`

[2020-10-16 13:45] #179 closed

[2020-10-16 14:00] vedanshujain commented on #181
Functionality for `_fields` is provided by [WordPress Core REST API](https://developer.wordpress.org/rest-api/using-the-rest-api/global-parameters/#_fields) which does not allow for array filtering. Unfortunately, I don't think we will be able to support this enhancement anytime soon because we would want to WP Core's lead on this one, and it will automatically supported when WP Core starts to sup

[2020-10-16 14:00] #181 closed

[2020-10-16 15:26] vedanshujain commented on #182
Hi, there is no recent change in product functionality as far as I can see, and unfortunately there are not enough details for us to try to reproduce the issue. Generally, for help like these, support forums are a better place as you will get an early response there. I am closing this issue as part of general repo maintainence, but please open another issue in [WooCommerce core repo](https://githu

[2020-10-16 15:26] #182 closed

[2020-10-16 15:35] vedanshujain commented on #189
Created product, as well as its variation, is not supported as of now as per docs. So basically you would have to divide your request across two API calls, [one for the product](https://woocommerce.github.io/woocommerce-rest-api-docs/#create-a-product) and [other for the variation](https://woocommerce.github.io/woocommerce-rest-api-docs/#create-a-product-variation), after fetching the product id o

[2020-10-16 15:35] #189 closed

[2020-10-16 15:41] vedanshujain commented on #190
Hi, this behavior is now supported in API V3. You can use query string like so for filtering across multiple statuses:
`wp-json/wc/v3/orders?status[]=pending&status[]=processing`

[2020-10-16 15:41] #190 closed

[2020-10-16 15:45] vedanshujain commented on #192
Looks like this issue is related to https://github.com/woocommerce/woocommerce-rest-api-js-lib/ so moving it there.

[2020-10-16 15:49] vedanshujain commented on #193
This issue is because instead of user name and password, query string params `consumer_key` and `consumer_secret` should be used like, so URL looks like `wp-json/wc/v2/products?consumer_key=xxxx&consumer_secret=xxxx`.

I am closing this issue since we have been a bit late in replying, and likley you would have already solved it or moved on from this problem. But feel free to write back if this is

[2020-10-16 15:49] #193 closed

[2020-10-16 15:55] vedanshujain commented on #194
I am not sure we offer such functionality, because as a plugin, WooCommerce should not be deleting any user from any site other than the current one, even if they are on the same network. You can try [WordPress's native API](https://developer.wordpress.org/rest-api/reference/users/#delete-a-user) to delete the user (customer ID and user ID will be same, WooCommerce use WP's user functionality behi

[2020-10-16 15:55] #194 closed

[2020-10-16 15:55] vedanshujain commented on #195
Closing as duplicate of #194

[2020-10-16 15:55] #195 closed

[2020-10-19 10:44] vedanshujain commented on #196
Unfortunately, we do not support `rest_route` option of querying the WC API so as of now this is not possible without custom modifications.

However, if you'd still like to support it for your case then I would recommend adding the logic to correctly indentify an API request by hooking to filter `woocommerce_rest_is_request_to_rest_api`, and returning `true` you think the current request is a WooC

[2020-10-19 10:44] #196 closed

[2020-10-19 11:15] vedanshujain commented on #197
Thanks for the enhancement request, however, returning 200 when no customer is found is actually inline with industry-standard REST API specifications. We would return 404 when the endpoint itself does not exist, for example, if we would not support listing customers at all and the endpoint didn't exist at all, only in that case 404 would have been appropriate. Also changing this behavior will be

[2020-10-19 11:15] #197 closed

[2020-10-19 11:19] vedanshujain commented on #198
Looks like `store` is a custom data provided by an external plugin, so we won't be able to implement the search functionality for it in the core code. Perhaps you would need to raise this enhancement request with the plugin authors that add this functionality>

[2020-10-19 11:19] #198 closed

[2020-10-19 11:26] vedanshujain commented on #199
This request can be solved by customizations or by external plugins, but we don't have any plans to support decimal values for quantity in core yet. @vyrzdev it will be helpful to share a patch if you have it ready with everyone so that whoever needs it can get it :) .

[2020-10-19 11:26] #199 closed

[2020-10-19 11:54] vedanshujain commented on #200
I was not able to reproduce the issue on my end, I tried creating a variable product with multiple images, but as expected only one product was created.

I am closing this issue as part of general housekeeping of the repo, but if you are facing this error, can you please open another issue in [WooCommerce core repo](https://github.com/woocommerce/woocommerce) with following details:
1. [System sta

[2020-10-19 11:54] #200 closed

[2020-10-19 12:09] vedanshujain commented on #201
Looks like you are using one of the legacy API, however, in recent APIs we do support fetching only limited coupons by using `code` or `search` query param. You can using like so: `wp-json/wc/v3/coupons?search=foo`.

I am closing the issue, but if you are already using the new API, then please comment back with following details so that we can debug further:
1. [System status report](https://docs.

[2020-10-19 12:09] #201 closed

[2020-10-19 12:13] vedanshujain commented on #202
Closing this issue for housekeeping the repo (we will open small issues and PRs with specific details on what to implement etc, instead of a generic one like this). Note that this enhancement is on our radar, see https://github.com/woocommerce/woocommerce/pull/27734 and https://github.com/woocommerce/woocommerce/pull/27735

[2020-10-19 12:13] #202 closed

[2020-10-20 16:26] vedanshujain commented on #204
[REST API PHP App](https://github.com/woocommerce/wc-api-php) uses the same REST API internally, so if a key works in the app, then it should work in API natively as well. I am closing this issue for general repo maintainence, since we were not able to respond in time it's likely that you would have solved or moved on from this problem.

If you are still facing this problem, can you please open an

[2020-10-20 16:26] #204 closed

[2020-10-21 14:33] vedanshujain commented on #214
Closing as part of the repository maintenance. Will re-open if there are additional comments.

[2020-10-21 14:33] #214 closed

[2020-10-26 08:41] vedanshujain commented on #208
As mentioned in the above comment by @Soufiane21, by default the results are paginated and you will only get the first 10 results. Please use a loop to read through all the pages to get all customers. Depending upon your client, there could be a method called `getHeaders` which will return an object containing a field `x-wp-totalpages` indicating the total number of pages you would need to loop th

[2020-10-26 08:41] #208 closed

[2020-10-26 08:48] vedanshujain commented on #209
To see if there are products for a category, check the `count` field in the category response. If there are products it will be greater than 0.

To see if there are subcategories for a category, use the `parent` query param. For example, if you want to check if a category with ID 314 has subcategoriesa or not, make the request like so: `/wp-json/wc/v3/products/categories/?parent=314`. If the respo

[2020-10-26 08:48] #209 closed

[2020-10-26 09:51] vedanshujain commented on #210
This enhancement is likely not needed because:
1. WooCommerce API is mostly limited to creating/updating users with customer role, and adding any role is likely out of scope of an eCommerce plugin.
2. This functionality is already provided by WP core API with all permission checks and everything in between. There is no need to implement again what is already there.

I am closing this issue, but fe

[2020-10-26 09:51] #210 closed

[2020-10-26 09:54] vedanshujain commented on #211
This is possibly the same as #208 , so paraphrasing by response here:

In your case, this should be the same for categories, basically, results are paginated and we need to loop through pages to get all of them. I am closing this issue but feel free to comment if there are additional questions.

[2020-10-26 09:54] #211 closed

[2020-10-26 11:52] vedanshujain commented on #213
From your site, it looks like it has automatic redirection from `http` to `https` enabled, and I suspect that this is causing a problem since in your client when generating a signature, URL is considered as `http://papeleriazaragoza.mx` but in the server when comparing, it becomes `https://papeleriazaragoza.mx`. So basically the signature will become invalid.

It should work fine if you use `https

[2020-10-26 11:52] #213 closed

[2020-10-26 11:54] vedanshujain commented on #216
We are planning to support this soon, but I am closing this issue since we will track this enhancement in https://github.com/woocommerce/woocommerce/issues/27566.

[2020-10-26 11:54] #216 closed

[2020-10-26 11:56] vedanshujain commented on #224
This is now fixed since WC 4.3.3.

[2020-10-26 11:56] #224 closed

[2020-10-26 13:14] vedanshujain commented on #215
Unfortunately, at this time this is not possible, the closest workaround is to use the batch delete endpoint which can be used to 100 variations at a time.

I am closing this issue as we won't be able to prioritize it soon-ish, and I think when we do pick it up, we can add endpoints for all the variation bulk actions that we support, and not just delete all.

[2020-10-26 13:14] #215 closed

[2020-10-26 13:21] vedanshujain commented on #217
You can use the `date_column` param to track the recently updated order. For example, your API rquest will now become:
`wp-json/wc/v3/orders?after=[SyncDateTime]&date_column=modified`.

Note that only meta data updates will not be captured because date_modified is only changed when the original order object is changed. However this will capture recently completed orders better than using just the

[2020-10-26 13:21] #217 closed

[2020-10-26 13:24] vedanshujain commented on #218
Yes, its available at `/wc/v3/settings/products/woocommerce_notify_low_stock_amount` endpoint. Also, be sure to explore whole of `/wc/v3/settings/products/` and `/wc/v3/settings/` to see what all settings modifications we support.

[2020-10-26 13:24] #218 closed

[2020-10-26 14:01] vedanshujain commented on #219
Can you post the error response as well to help us debug? Basically, there should be a param in response called `resource_id` which will have a list of all duplicate SKUs that the system found. I tried creating products with duplicate SKUs and got the error but product was not created. Please also provide the [system status report](https://docs.woocommerce.com/document/understanding-the-woocommerc

[2020-10-26 14:05] vedanshujain commented on #222
You can use the filter `woocommerce_rest_pre_insert_product_object`, which will be called at the end of this method (so basically before product is saved to DB) and you can use it to do any modifications.

I am closing the issue as part of repo maintainence, but feel free to comment back if you have more questions.

[2020-10-26 14:05] #222 closed

[2020-10-26 18:38] vedanshujain commented on #228
Looks like cache plugins on your site are also caching API responses which it should not ideally. I see a `x-cacheable` response header which is set to `NO:Not Cacheable` but also a `x-cache` response header which is set to `HIT`. Perhaps one or the other caching plugin on your site needs to be configured properly?

Also returning 200 when no results founds is indeed correct, as the request to sea

[2020-10-26 18:38] #228 closed

[2020-10-26 18:40] vedanshujain commented on #233
If you are still facing this problem then can you please open another issue in [WooCommerce core repo](https://github.com/woocommerce/woocommerce) after filling out the issue template (click on the new issue there, and you will see the template)? There is very little information in the issue description to provide any meaningful help.

[2020-10-26 18:40] #233 closed

[2020-10-26 18:45] vedanshujain commented on #234
Unfortunately, WC REST API is currently only for the back-end and does not provide add to cart or related functionality. At this time, there is no estimation on when we will work on such a functionality, however there are external plugins that can provide REST API functionality for adding products to cart that you can use.

I am closing the issue for repo maintainence, but feel free to comment bac

[2020-10-26 18:45] #234 closed

[2020-10-27 05:19] HammerOz commented on #228
Ok! Thanks for the feedback. I'll pass it onto to the host who manages the caching.

[2020-10-27 08:33] vedanshujain commented on #235
Looks like this issue is happening because of the NGINX configuration on your server, instead of WooCommerce itself. This response is clearly returned by the NGINX server (we don't have this message anywhere in the app as far as I can see). Perhaps it's configured to not allow `DELETE` request by default? I have seen this type of issue in some servers when NGINX rules are misconfigured in that it

[2020-10-27 08:33] #235 closed

[2020-10-27 08:54] vedanshujain commented on #236
So WooCommerce API is designed for admin access only and isn't really suited to be directly accessed by customers. There are 3PD plugins however that can allow you to do that.

That said, if you do want to go ahead in this direction, then I can suggest two workflows:

1. Generate consumer_key and consumer_secret pair for the customer with read access when they sign in using [authentication endpoin

[2020-10-27 08:54] #236 closed, assigned to nobody

[2020-10-27 09:43] vedanshujain commented on #240
We do not include taxes in prices for orders to maintain consistency. For example, ideally changing settings for prices should not be affecting API output for orders already placed before updating this setting. Those settings are only limited to cart and customer's flow before placing the order. This is why we default to always display prices and taxes differently in API output, as it maintains co

[2020-10-27 09:43] #240 closed, assigned to nobody

[2020-10-27 10:21] vedanshujain commented on #241
This is expected as WC inherits WP's behavior and uses the shop's timezone by default instead of GMT. I am marking this as an enhancement to support querying on `gmt` date values as well.

[2020-10-27 10:28] vedanshujain commented on #242
Based on the error looks like the store does not have access to those links. To debug, I'd recommend logging onto the server and try accessing those links directly using a `curl` or `wget` command (for linux servers) to see if you can reproduce the error. Perhaps you can get better support by asking around in [community forums](https://wordpress.org/support/plugin/woocommerce/).

That said, I am c

[2020-10-27 10:28] #242 closed, assigned to nobody

[2020-10-27 10:33] vedanshujain commented on #243
502 error generally happens when it takes a very long time to compute an API response. This is likely a generic performance issue, we are infact targetting some performance enhancements in #27735 and #27734.

Meanwhile, I would recommend that you try with less products per page, perhaps 75 or even 50 to see if that helps. I am closing this issue since we will be targetting performance bottlenecks

[2020-10-27 10:33] #243 closed, assigned to nobody

[2020-10-27 10:43] vedanshujain commented on #244
You are seeing the decoded title in edit view, but for the customer `&` will be shown as it is, so it's only you (and other admins) who is seeing the decoded version, but customers on your site will see what you intended. Unfortunately this is a [WordPress core issue](https://core.trac.wordpress.org/ticket/11311) and not a WooCommerce one, and we won't be able to tell when it will be fixed.

Note

[2020-10-27 10:43] #244 closed, assigned to nobody

[2020-10-27 10:45] vedanshujain commented on #245
The issue is before `consumer_key` it should be `?` and not a `/` since consumer key are params and not part of the URL. So your URL should be `https://staging/wp-json/wc/v3/orders/1977?consumer_key=123&consumer_secret=456`.

Closing the issue, but feel free to reply back if it does not solve it, or there are more errors.

[2020-10-27 10:45] #245 closed, assigned to nobody

[2020-10-30 17:06] Mick-V8 commented on #116
I get a similar issue on one particular website (different server).  I.e on one website the update works ok and on another I get a 200 ok status but the update doesn't get done.  What I can't understand is why it would return 200 is it doesn't update, surely that an issue?

I am using WC 4.6.1 and V3 of the API

[2020-10-30 17:45] juliaamosova commented on #116
Hi @Mick-V8, thanks for bringing this up. I am reopening the issue so that we could take a look further.

[2020-10-30 17:46] juliaamosova commented on #116
@Mick-V8 I am also moving this thread to the WooCommerce Core repository as the API is now a part of that repo.

[2020-10-30 17:48] juliaamosova commented on #116
@Mick-V8 sorry, I can't transfer this thread to Core as we deprecated this REST API repository. Please open a new issue in https://github.com/woocommerce/woocommerce/issues so that we could take a look there further. Thanks!

[2020-10-31 16:37] timohausmann commented on #220
The header name is `X-WC-Store-API-Nonce` and the nounce name is `wc_store_api`.
I got the endpoint talking, but it doesn't add items to the cart. Would be nice to have in the future.

[2020-10-31 16:59] timohausmann commented on #220
The header name is `X-WC-Store-API-Nonce` and the nounce name is `wc_store_api`.

I got it working, make sure to add a product/variant id and a quantity. PHP+JS example with `wp_create_nonce`:

[code]

[2020-10-31 21:25] kevinamorim opened #246 "Adding product attribute terms via REST API (V3) does not keep order"
When adding product attribute terms using the REST API (V3) the ordering is not kept. If I set a custom order for my terms using the 'menu_order' field the ordering is not reflected on WooCommerce backoffice.

Using following endpoint: /wp-json/wc/v3/products/attributes/<attribute_id>/terms

[2020-10-31 21:30] #246 closed, assigned to nobody

[2020-11-04 07:57] weaselmetal commented on #37
@claudiosanches awesome news that this will be taken care of! Could you please point readers of this conversation to the issue(s) that implement the requested features? I found this https://github.com/woocommerce/woocommerce-rest-api/pull/226 but it only deals with ordering, filtering resources by modified date is not part of the change afaict. Thank you!

[2020-11-04 17:30] rkbjunior commented on #210
Woocommerce only adds the one customer role, but their are plenty of plugins that allow the creation of custom user roles. Many of which could describe a customer. My company is a valid use case where e commerce customers are broken up into several roles. So I would tend to disagree with the sentiment that adding additional roles is outside of the scope of an ecommerce plugin.

That aside, I've al

[2020-11-09 18:16] agastiazoro commented on #37
I've founded it, it's "woocommerce_rest_product_object_query"

[2020-11-17 20:02] thedarkcder commented on #220
Is it possible to attach the cart to an existing customer? I'm trying to update the cart from another platform as an admin user

[2020-11-26 14:37] cinemanaplus opened #247 "search parameter does not work"
I want to get list of products based on title that contain a string, basically a simple search.
the `search` parameter does not work, I tested it on two sites and both not working.

here is a request url:
`https://website.com/wp-json/wc/v3/products?search=mouse`

[2020-11-26 21:07] Alercard opened #248 "How to use api rest but without execute webhooks"
Greetings,

First, I want to say Thank you for your works.

I have a project about integration between an ERP with a page with woocommerce, but I have a situation, this is the case:

**1. Integration from ERP to Woocommerce by Woocommerce api rest.**
    This step searches all clients with update date field before his last synchronization date.

**2. Woocommerce triggers a webhook configurated for

[2020-12-01 18:24] MRClip opened #249 "Updating Customer Email is considered as invalid"
Updating a customer email result with an exception "woocommerce_rest_customer_invalid_email"
Is there any particular reason that the API is not allowing this?

[2020-12-05 09:39] Devendra0110 commented on #25
Shouldn't this be mentioned in docs?
:confused:

[2020-12-13 05:31] mohit-rzy commented on #220
@thd-fox Did you get the cart api working for a headless scenario?

[2020-12-15 06:28] bobbydc opened #250 "Orders by product returning incorrect orders"
I am trying to use the API to pull orders based on a category. Since I don't see a way to do that, I am pulling all products based on category and then looping through those to pull down the orders filter by product ID. For some reason it's pulling in all sorts of orders that don't include the ID. Here's the query I'm using.

$evtProducts is confirmed as correct data and format. I can echo out the

[2020-12-17 10:27] yulumadavid opened #251 "WP Multisite returns 'customer already exists' on creation but gives 'false' when we fire a GET for this user"
**Situation:**
We've got this WP Multisite with both sites Woo enabled.

A specific customer is active on Site 1 and Site 2. But when we do the following we receive an unexpected answer.

**What we do**
POST with endpoint customers with the e-mail address of the already excisting customer. We receive an error from the API registration-error-email-exists

We've got this covered because it happens m

[2020-12-17 13:12] gabrielgiorisatto opened #252 "Variable Product (Add variation without options)"
I'm trying to create a variable product with the REST API (Node.Js). The problem is that I don't have all the "options" when creating the variable product. When I send a POST to create a variation, the variation is not created unless I update the variable product adding the "option" of the variation. Is this really the only way of adding a variation? Why the variation post does not add the option

[2020-12-20 13:06] rogerad opened #253 "get total number of products"
please ignore-  the question - i have found the solution   -the total is in the api

[2020-12-20 13:16] #253 closed, assigned to nobody

[2020-12-24 16:41] Alligatore3 commented on #234
@vedanshujain

Like? Can you please be more specific.

Thanks.

[2021-01-04 03:03] mehtanilay10 commented on #234
Hi, I'm also looking for the same. `wp-graphql-woocommerce` supports add to cart functionality.
But that would be funny to use a different library for just a single operation!
I believe this should be also present in the rest API too.

[2021-01-04 08:41] Alligatore3 commented on #234
@mehtanilay10

Hi,
We found that [CoCart](https://cocart.xyz/) plugin works pretty good for free version.
Have a try and let me know.

Good Luck!
M.

[2021-01-11 11:28] raoulalwani opened #254 "Getting products with variation details in bulk?"
Hi all,

Adding an integration for WooCommerce to our app, sellers are using our system to manage all their inventory.

I'm using the REST API (in Ruby) as documented here: https://woocommerce.github.io/woocommerce-rest-api-docs/#list-all-products

We need to retrieve the list of products + variations (including details) for our sellers. I can get the products with minimal API calls by using the t

[2021-01-14 13:24] raoulalwani commented on #254
Temporary solution for anyone else that comes across this issue: Use the legacy API and the following code:

[code]

I don't like mixing the two APIs, but this is a stop-gap solution until a better endpoint is released in the next version. This is still preferable to pinging the server hundreds or thousands of times to get all the variation details if you need to grab the full product listings.

[2021-01-14 13:24] #254 closed, assigned to nobody

[2021-02-03 15:26] ignacioinnovo commented on #114
I´m having the same issue. Could anyone tell me how do you resolve this issue? We need to send manage_stock and stock_quantity along with stock_status: out_of_stock? Since when? It was working well. Thank you in advanced!

[2021-02-10 02:40] tepafril commented on #114
I'm having the same issue. trying to create with {."stock_status" : "instock" }. but result turned out to be "Out of Stock"

[2021-02-10 07:25] LjuAdmir opened #255 "Problem with updating backorders and stock_status"
We are currently reimplementing the stock syncing, since now we can get data from our b2b seller about their availability. When updating stock, I send "stock_quantity", "stock_status" and "backorders" (when needed). While the "stock_quantity" is updated, the other two parameters aren't.

This is an example of data, that gets sent via PUT request.
`{"stock_quantity": 25, "stock_status": "instock"}`

[2021-02-10 08:19] LjuAdmir commented on #255
I'm closing this, since it looks like it's connected to Python WooCommerce module. And posting the problem there.

[2021-02-10 08:19] #255 closed, assigned to nobody

[2021-02-10 14:44] landed1 opened #256 "Warning or error"
Noticing error or warning at bottom of admin

url shop.com/wp-admin/admin.php?page=wc-admin

supplied for foreach() in xyz/wp-content/plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-data-countries-controller.php on line 96

Version 5.0.0

Thank you.

[2021-02-11 20:44] tepafril commented on #252
I have the same issue

[2021-02-18 19:00] ignacioinnovo commented on #114
Please, @itsgauravjain22 could you point us in the right direction? We are sending out_of_stock, manage_stock: "false" and stock_quantity=0 and the product stil shows in stock. Thank you very much in advanced!

[2021-02-18 22:09] ignacioinnovo commented on #114
@tepafril Please, let me tell you that I´ve found the solution based on what @itsgauravjain22 posted. To set the product as in stock I sended: stock_status="in_stock", manage_stock="false" and stock_quantity=0. Then to set it as out of stock I sended: stock_status="out_of_stock", manage_stock="true" and stock_quantity=0.

[2021-02-28 10:14] SanderCMD opened #257 "Suggestion: Add product tag information to order lines / filter orders based on the product tags"
In my system all products can have 1 tag assigned to them out of a list of tags. Orders can only have products in them that all have the same specific tag in common.

I want to retrieve all orders based on the tag that the products hold, but right now i have to do that like this:
Firstly I'm retrieving the productid's of all products with the tag. Then i get all orders and filter based on the firs

[2021-03-10 11:38] probance-antoine opened #258 "Get products with sorted categories - Woocommerce API"
Hello,

I have a problem with the woocommerce API. When I list a product I would like to have the categories in order (main category, sub category, sub sub category) :

On the production site of one of my customers the result is a bit random…
If I list a product with 2 categories with IDs less than 200 the result is OK
If I list a product with 2 categories, the first one < 200, the second one > 20

[2021-03-23 15:13] rafa-acioly opened #259 "Shouln't the webhook endpoint also retrieve the secret value?"
I'm building a new platform that will be integrated with woocommerce and inside of my platform I have a job that creates webhooks on client's shop (product and order update), I've managed to create the webhooks successfully but I cannot receive any "secure" notifications because I didn't receive the `secret` created for this webhooks.

Looking at the documentation I cannot pass a `secret` value to

[2021-03-31 15:08] thd-fox commented on #220
@mohit242 we are now back into headless development and you can see extended cart endpoint here: https://github.com/woocommerce/woocommerce-gutenberg-products-block/tree/trunk/src/StoreApi
This seems promising :)

[2021-04-08 14:55] #259 closed, assigned to nobody

[2021-04-26 01:24] hiagodotme opened #260 "List all customer by username"
I did an integration of my system with WooCommerce. The only way to identify a user without storing his ID is by email. I did an integration where I create my user in woocommerce as "partner.**$MY_SYSTEM_ID**", however the only way currently to locate this user is through his email in my system. If my user changes the email I can no longer retrieve his history and I end up creating a new user. I c

[2021-04-28 15:30] mmerola84 opened #262 "Integrate with Woomultistore"
Hi, it's possible to integrate product creation with woomultistore?

If it's possible, how?

Thanks

[2021-05-18 10:37] nghiaht opened #263 "Vulnerability required manual review and could not be updated (npm)"
Hello, the main release of woocommerce-rest-api happends months ago.
Recently while using it, the npm suggest me to run the audit.

My `package.json`

[code]
When I run `npm audit`

[code]

What can I do to solve it? Thanks!

[2021-05-23 20:17] yordivd commented on #38
@vedanshujain I really don't understand your answer.
We have 1000's products with each +-6 variations.
Every variation has an unique sku which is printed on a barcode.

E.g.:
Product sku: 5876
Product variations sku: 26298, 16156, 16616

When you make a POS and you want to scan the barcode you can scan this sku code to retrieve the product/variation.
So i can the product variation with sku 16156,

[2021-05-26 13:22] MEHUL423 opened #264 "Insert Custom Field Using Api"
How to Insert Custom Fields in Product using API.

[2021-06-10 08:15] Malcolm-K-S opened #265 "WooCommerce Rest API & Delivery Dates"
Current situation:
1. I have a WordPress site running WooCommerce.
2. A fulfilment company collects new orders (using the API) every 30 minutes and will then pick and package the order and send it to the customer.
3. The fulfilment company have a simple interface that collects all new orders and then processes them for next day delivery.

The Problem:
1. There is a need for customers to enter thei

[2021-06-24 13:39] mudit00 opened #268 "Category"
There are no endpoint or order properties to get the order via category. If someone can update it, that will be very helpful.

[2021-06-27 07:37] apoorvHearth commented on #220
@thd-fox how are you maintaining the cart per user, as per my testing the cart value is not changing even if I am logging in with multiple users. The cart is shared amongst all of them.

[2021-07-15 12:42] marekka commented on #116
Having the same problem, can not update product but no error...

[2021-07-15 12:54] marekka commented on #116
Having the same problem, can not update product but no error...

I made a test to only update the name:

{"name":"TEST - Product name"}

But there is no difference - no update...

Just to let you know the inserting is working without any issue....

______
Update

Think the problem was I was using json as the update data, rather than array, which was required by my Curl library

[2021-07-15 17:50] klodoma opened #269 "Upload Downloadable Files through the REST API?"
I am trying to manage some downloadable products with the REST API and I need to upload files to the product.

Is it possible to upload downloadable files through the REST API?

I've seen several tickets related to image/files uploads to products that seems a bit problematic.

![Screenshot_83](https://user-images.githubusercontent.com/944350/125833796-0b30707e-007b-4c6b-a136-fce0624fd203.png)

[2021-08-04 14:49] baijumelepura commented on #220
Hi,
how can I add multiple products to  Cart for a customer?
/wc/store/cart*
Rest Api

[2021-09-05 16:09] mfissehaye opened #270 "Product list filtering by attribute and attribute_term not working"
Sending request to the api endpoing `wp-json/wc/v3/products?attribute=Brand&attribute_term=55` returns all products including those that don't have the given attribute and attribute_term. What am I missing?

[2021-09-11 07:49] hardiksorathiya opened #271 "variations selections on Variable product"
Hello,

We currently get product data using API.

1. if variations selections **any** https://prnt.sc/1rsvty7 on admin.
2. we get all variations via API http://localhost/wordpress527/wp-json/wc/v3/products/48/variations
here get got all the options variant wise which have selected both options.
3. but we got only one attributes option if selected any https://prnt.sc/1rsw55t  how can I find there a

[2021-09-16 21:58] lucasaacosta1995 opened #272 "Get product, I can't specify which fields I want to bring"
Hi,
I can't specify which fields I want to bring.

I cannot specify which fields I want to bring. I use the following to search by sku, $this->woocommerce->get('products', array('sku'=>$sku));, but I only want to bring one or x fields, not all fields, could something be done with that?

Greetings.

[2021-10-20 15:54] fabolousfrances opened #273 "Update product image via the rest api make duplicate image files"
Hello,

I manage a woocommerce website with the Woo Rest API.
WP and Woo are up to date and using the last Woo Rest API.

Everything is working well.

My main problem is when I update a product, the image is not overwriting the existing one. It copy a new file with a “-number” at the end of the file and keeping the old one. It’s ok and quite secure but it’s a big problem for disk space.

In wordpr

[2021-10-21 15:03] #273 closed, assigned to nobody

[2021-10-21 15:03] fabolousfrances commented on #273
Find the solution here : https://wordpress.org/support/topic/update-a-product-image-via-woo-rest-api/ 👍

[2021-11-26 14:31] wpscreatros commented on #220
Hi,
How can we add a variable product using postman as when I use the endpoint
/wc/store/cart/add-item?id=13914&quantity=5
id 13914 is a variation of the product 13911 it adds the product 13914 however in the json response the variation attributes are missing
any idea on how to pass the data in API requests?

[2021-11-29 11:22] tomwenk opened #274 "Order Refund API Issue"
Dear Sir or Madam,
We are currently trying to integrate our CRM more deeply with WooCommerce. Now we want to enable our employees to make refunds via CRM. For this we read through the documentation and wrote the following code:
Unfortunately, every time we test it, we get the following error:
[code]
Our JS code is the following:

[code]
Can you please tell us how to make a refund via the WooCommer

[2021-11-29 16:52] peterfabian commented on #220
Hi @wpscreatros (and others) please raise similar questions in the repository for Blocks where this gets developed until it gets merged to core: https://github.com/woocommerce/woocommerce-gutenberg-products-block.

As for this particular question, please check [the relevant documentation in GH](https://github.com/woocommerce/woocommerce-gutenberg-products-block/blob/trunk/src/StoreApi/docs/cart.md

[2022-02-07 09:14] prionkor commented on #49
Weirdly I am getting same issue using gravity form rest API. No clue!

[2022-03-03 12:34] hardiksorathiya opened #275 "Update a webhook not working"
Hello,

Update a webhook is not working

https://woocommerce.github.io/woocommerce-rest-api-docs/?shell#update-a-webhook

there is an issue with request /wp-json/wc/v3/webhook/<id>

it's working with /wp-json/wc/v3/webhooks/<id>

There is missing **S**

Thanks

[2022-05-13 10:37] naresh-webkul opened #276 "Need Help"
Hi,
i am migrating woo commerce site data and using the rest api doc (https://woocommerce.github.io/woocommerce-rest-api-docs/#introduction)

my woocommerce version: 4.5
rest api v3

The issue is i am not able to get the count of the data in the api response headers(like for customer i want total records of customer's and not able to get the total count of records that is in most of the case you w

[2022-05-27 10:55] yagnesh-s-crest commented on #116
Try to change request header `Content Type` to `application/json`!
I had the same issue while updating products. I found that I overwrote the headers by mistake, and doing this solved my issue!

[2022-06-18 20:44] ienzam commented on #178
Doesn't seem to work. I get the error:
[code]

The following lines do not allow null:

https://github.com/woocommerce/woocommerce-rest-api/blob/88ff745b300488d9d2145fa1ab73a2715558530a/src/Controllers/Version2/class-wc-rest-orders-v2-controller.php#L723

https://github.com/woocommerce/woocommerce-rest-api/blob/88ff745b300488d9d2145fa1ab73a2715558530a/src/Controllers/Version4/Requests/OrderRequest.

[2022-06-18 20:45] ienzam opened #277 "Delete custom fees from order"
It is not possible to remove fee_line for orders using the API.

For the line_items it is possible to set quantity to 0 or product_id to null, but that is not possible with fee_lines. I tried to set the whole value of fee_lines to null which did not remove anything and also changing total of order to 0 & remove name did not work.

Endpoint: wp-json/wc/v3/orders/632
Method: PUT
Data:

[code]

Setti

[2022-06-18 21:22] ienzam commented on #277
Seems like it's actually working, I made some mistake somewhere. Closing...

[2022-06-18 21:22] #277 closed, assigned to nobody

[2022-07-27 23:43] 1AbdulKareem commented on #55
I have the issue as well in arabic attributes as select attributes, not as custom type attributes

[2022-08-22 01:21] dieptang opened #278 "How to display products only on rest api not on the website"
My app should show the products with 'pending' status, not showing on the website.
My products by default have one of 3 status: publish, draft and pending. My idea that set the product to pending status and from the rest api, it will show only the status: publish or pending. How can I do that? Many thanks

[2022-09-02 06:53] kumarmanishc commented on #178
@vedanshujain I confirm that this is working with wc/v1

`But this is giving Internal server Error if we use v3`

[2022-09-15 06:10] Mobashir1995 commented on #60
I am facing the same issue reported by @mbaio94 . The first two page of the pagination query is working fine, but from third page I am finding previous products. I'm using per_page=3.

[2022-10-09 09:12] abdullahTreesal opened #279 "How to set the default variation for the product using the api"
I'm unable to set the default attribute using the API please help

[2022-10-14 07:29] Hechteugueu opened #280 "USER ROLE"
The user role is in read only, how can we write?

[2022-11-14 22:38] iwkse opened #281 "Avoid image duplication if images are already available in wordpress media"
Adding images for a product requires to be a URL and not a URI (would be great to just use file:// and upload from local). Using Wordpress Rest API to upload images on media, than use such URL in the product images will upload again the images already present in media.
It would be great to allow local upload or avoid the duplication of images if they are already in media.